@charset "UTF-8";

.agosto {
      position: absolute;
      width: 100%;
      background: #8B0000;
      height: 3405px;
}

@media (max-width: 980px) {
  .agosto {
      zoom: 120%;
      height: 6700px;
}
}


@media (max-width: 979px) {
  .agosto {
      zoom: 80%;
}
}

h1 {
    left: -80px;
}

.s1, .s2, .s3, .s4 {
      top: 60px;
}

.s5, .s6, .s7, .s8 {
      top: 295px;
}

.s9, .r9, .t9 {
      top: 640px;
}

.s10, .s11, .s12, .s13 {
      top: 884px;
}

.s14, .s15, .s16, .s17 {
      top: 1127px;
}

.s18, .r18, .t18 {
      top: 1505px;
}

.s19, .s20, .s21, .s22 {
      top: 1755px;
}

.s23,.s24, .s25, .s26 {
      top: 2000px;
}

.s27, .r27, .t27 {
      top: 2380px;
}

.s28, .s29, .s30, .s31 {
      top: 2625px;
}

.s32, .s33, .s34, .s35 {
      top: 2867px;
}


.s36, .r36, .t36 {
      top: 3250px;
}

.s37, .s38, .s39, .s40 {
      top: 3490px;
}

.r9, .r18, .r27, .r36 {
      left: -408px;
}

.s9, .s18, .s27, .s36 {
      left: -118px;
}

.t9, .t18, .t27, .t36 {
     left: 172px;
}

.s1, .s5, .s10, .s14, .s19, .s23, .s28, .s32, .s37 {
     left: -550px;
}

.s2, .s6, .s11, .s15, .s20, .s24, .s29, .s33, .s38 {
      left: -260px;
}

.s3, .s7, .s12, .s16, .s21, .s25, .s30, .s34, .s39 {
      left: 23px;
}

.s4, .s8, .s13, .s17, .s22, .s26, .s31, .s35, .s40 {
      left: 308px;
}

@media (max-width: 980px) {
  .s1, .s2 {
      top: 60px;
}
}

@media (max-width: 980px) {
  .s3, .s4 {
      top: 315px;
}
}

@media (max-width: 980px) {
  .s5, .s6{
      top: 580px;
}
}

@media (max-width: 980px) {
  .s7, .s8 {
     top: 845px;
}
}

@media (max-width: 980px) {
  .r9 {
     top: 1285px;
}
}

@media (max-width: 980px) {
  .s9, .t9 {
     top: 1545px;
}
}

@media (max-width: 980px) {
  .s10, .s11 {
      top: 1800px;
}
}

@media (max-width: 980px) {
  .s12, .s13 {
      top: 2050px;
}
}

@media (max-width: 980px) {
  .s14, .s15 {
      top: 2305px;
}
}

@media (max-width: 980px) {
  .s16, .s17 {
      top: 2560px;
}
}

@media (max-width: 980px) {
  .r18 {
      top: 2985px;
}
}

@media (max-width: 980px) {
  .s18, .t18 {
      top: 3240px;
}
}

@media (max-width: 980px) {
  .s19, .s20 {
      top: 3490px;
}
}

@media (max-width: 980px) {
  .s21, .s22 {
      top: 3740px;
}
}

@media (max-width: 980px) {
  .s23, .s24 {
      top: 3995px;
}
}

@media (max-width: 980px) {
  .s25, .s26 {
      top: 4250px;
}
}

@media (max-width: 980px) {
  .r27 {
      top: 4665px;
}
}

@media (max-width: 980px) {
  .s27, .t27 {
      top: 4915px;
}
}

@media (max-width: 980px) {
  .s28, .s29 {
      top: 5170px;
}
}

@media (max-width: 980px) {
  .s30, .s31 {
      top: 5425px;
}
}

@media (max-width: 980px) {
  .s32, .s33 {
      top: 5680px;
}
}

@media (max-width: 980px) {
  .s34, .s35 {
      top: 5930px;
}
}

@media (max-width: 980px) {
  .r36 {
      top: 6350px;
}
}

@media (max-width: 980px) {
  .s36, .t36 {
      top: 6605px;
}
}

@media (max-width: 980px) {
  .s37, .s38 {
      top: 6857px;
}
}

@media (max-width: 980px) {
  .s39, .s40 {
      top: 7112px;
}
}

@media (max-width: 980px) {
  .s1, .s3, .s5, .s7, .s9, .s10, .s12, .s14, .s16, .s18, .s19, .s21, .s23, .s25, .s27, .s28, .s30, .s32, .s34, .s36, .s37, .s39 {
      left: -270px;
}
}

@media (max-width: 980px) {
  .s2, .s4, .s6, .s8, .s11, .s13, .s15, .s17, .s20, .s22, .s24, .s26, .s29, .s31, .s33, .s35, .s38, .s40, .t9, .t18, .t27, .t36 {
      left:30px;
}
}

@media (max-width: 980px) {
  .r9, .r18, .r27, .r36 {
      left: -125px;
}
}

.supermarço, .superabril, .supermaio, .superjunho, .superjulho, .supersetembro, .superoutubro, .supernovembro, .superdezembro {
    background-color: white;
}

.superagosto {
   background-color: #dcdcdc;
}

#roda {
  margin-top: 3608px;
}

@media (max-width: 980px) {
  #roda {
  margin-top: 8300px;
}
}

@media (max-width: 979px) {
  #roda {
  margin-top: 5543px;
}
}