@charset "UTF-8";

.março {
      position: absolute;
      width: 100%;
      background: #8B0000;
      height: 3800px;
}

@media (max-width: 980px) {
  .março {
      height: 6460px;
}
}

@media (max-width: 979px) {
  .março {
      zoom: 80%;
}
}

h1 {
    left: -75px;
}

.b1, .b2, .b3, .b4, .b5, .b6, .b7, .b8, .b9, .b10, .b11, .b12, .b13, .b14, .b15, .b16, .b17, .b18, .b19, .b20, .b21, .b22, .b23, .b24, .b25, .b26, .b27, .b28, .b29, .b30, .b31, .b32, .b33, .b34, .b35, .b36 {
      position: absolute;
      margin: 0 50% 0 50%;
      width: 250px;
      height: 205px;
}

.b1 {
      top: 50px;
}

.b2, .b3, .b4, .b5 {
      top: 390px;
}

.b6, .b7, .b8, .b9 {
      top: 790px;
}

.b10 {
      top: 1240px;
}

.b11, .b12, .b13, .b14 {
      top: 1600px;
}

.b15, .b16, .b17, .b18 {
      margin: 0 50% 0 50%;
      top: 1885px;
}

.b19 {
      top: 2620px;
}

.b20, .b21, .b22, .b23 {
      top: 2860px;
}

.b24, .b25, .b26, .b27 {
      top: 3095px;
}

.b28 {
      top: 3405px;
}

.b29, .b30, .b31, .b32 {
      top: 3640px;
}

.b33, .b34, .b35, .b36 {
      top: 3875px;
}

.b1, .b10, .b19, .b28 {
      left: -118px;
}

.b2, .b6, .b11, .b15, .b20, .b24, .b29, .b33 {
     left: -550px;
}

.b3, .b7, .b12, .b16, .b21, .b25, .b30, .b34 {
      left: -260px;
}

.b4, .b8, .b13, .b17, .b22, .b26, .b31, .b35 {
      left: 23px;
}

.b5, .b9, .b14, .b18, .b23, .b27, .b32, .b36 {
      margin: 0 50% 0 50%;
      left: 308px;
}

@media (max-width: 980px) {
  .b1 {
      top: 60px;
}
}

@media (max-width: 980px) {
  .b2, .b3 {
      top: 430px;
}
}

@media (max-width: 980px) {
  .b4, .b5 {
      top: 830px;
}
}

@media (max-width: 980px) {
  .b6, .b7 {
     top: 1250px;
}
}

@media (max-width: 980px) {
  .b8, .b9 {
     top: 1655px;
}
}

@media (max-width: 980px) {
  .b10 {
      top: 2180px;
}
}

@media (max-width: 980px) {
  .b11, .b12 {
      top: 2556px;
}
}

@media (max-width: 980px) {
  .b13, .b14 {
      top: 2830px;
}
}

@media (max-width: 980px) {
  .b15, .b16 {
      top: 3105px;
}
}

@media (max-width: 980px) {
  .b17, .b18 {
      top: 3505px;
}
}

@media (max-width: 980px) {
  .b19 {
      top: 4445px;
}
}

@media (max-width: 980px) {
  .b20, .b21 {
      top: 4700px;
}
}

@media (max-width: 980px) {
  .b22, .b23 {
      top: 4955px;
}
}

@media (max-width: 980px) {
  .b24, .b25 {
      top: 5215px;
}
}

@media (max-width: 980px) {
  .b26, .b27 {
      top: 5475px;
}
}

@media (max-width: 980px) {
  .b28 {
      top: 5835px;
}
}

@media (max-width: 980px) {
  .b29, .b30 {
      top: 6100px;
}
}

@media (max-width: 980px) {
  .b31, .b32 {
      top: 6355px;
}
}

@media (max-width: 980px) {
  .b33, .b34 {
      top: 6610px;
}
}

@media (max-width: 980px) {
  .b35, .b36 {
      top: 6865px;
}
}


@media (max-width: 980px) {
  .b2, .b4, .b6, .b8, .b11, .b13, .b15, .b17, .b20, .b22, .b24, .b26, .b29, .b31, .b33, .b35 {
      left: -270px;
}
}

@media (max-width: 980px) {
  .b3, .b5, .b7, .b9, .b12, .b14, .b16, .b18, .b21, .b23, .b25, .b27, .b30, .b32, .b34, .b36 {
      left:30px;
}
}

@media (max-width: 980px) {
  .b1, .b10, .b19, .b28 {
      left: -125px;
}
}

.superabril, .supermaio, .superjunho, .superjulho, .superagosto, .supersetembro, .superoutubro,  .supernovembro, .superdezembro {
    background-color: white;
}

.supermarço {
   background-color: #dcdcdc;
}

#roda {
  margin-top: 4000px;
}

@media (max-width: 980px) {
  #roda {
  margin-top: 6680px;
}
}

@media (max-width: 979px) {
#roda {
      margin-top: 6689px;
}
}