@charset "UTF-8";

h1 {
    position: absolute;
    font-size: 58px;
    color: #ED3A1E;
    margin: 0 50% 0 50%;
    top: 100px;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: .092em;
    font-weight: 500;
}

@media (max-width: 980px) {
  h1 {
      margin-top: 50px;
      zoom: 80%;
}
}

#sites {
    width: 940px;
    height: 40px;
    margin: -39px auto;
    background-color: #8B0000;
    margin-top: 510px;
    border-radius: 20px;
}

@media (max-width: 980px) {
   #sites {
    width: 465px;
    margin: -39px auto;
    margin-top: 510px;
}
}

.foto0, .foto, .foto1 {
      position: absolute; 
      margin: 0 50% 0 50%;
} 

.foto0 {
      top: 343px;
      left: -468px;
}

.foto { 
      top: 192px;
      left: -116px;
}

.foto1 {
      top: 370px;
      left: 350px;
}

@media (max-width: 980px) {
  .foto0 {
      left: -230px;
}
}

@media (max-width: 980px) {
  .foto {
      left: 30px;
}
}

@media (max-width: 980px) {
  .foto1 {
      opacity: 0%;
      left: -100px;
}
}


#artilharia, #estatistica {
      position: absolute;
      margin: 0 50% 0 50%;
      letter-spacing: .092em;
      font-family: helvetica;
      font-size: 22px;
      color: #B61B1B;
}

#artilharia  {
      top: 193px;
      left: -390px;
}

#estatistica {
      top: 193px;
      left: 240px;
}

@media (max-width: 980px) {
  #artilharia  {
      top: 203px;
      left: -245px;
}
}

@media (max-width: 980px) {
  #estatistica {
      top: 203px;
      left: 95px;
}
}

 #artilharia1, #artilharia3, #artilharia5, #artilharia7, #artilharia01, #artilharia02, #artilharia03, #artilharia04, #artilharia05, #artilharia06, #artilharia07, #artilharia01, #artilharia02, #artilharia03, #artilharia04, #artilharia05, #artilharia06, #artilharia07, #estatistica1, #estatistica3, #estatistica5, #estatistica7, #estatistica01, #estatistica03, #estatistica05, #estatistica07, #artilharia2, #artilharia4, #artilharia6, #artilharia02, #artilharia04, #artilharia06, #estatistica2, #estatistica4, #estatistica6, #estatistica02, #estatistica04, #estatistica06 {
      position: absolute;
      letter-spacing: .092em;
      font-family: helvetica;
      font-size: 22px;
      list-style: none;
 }

 #artilharia1, #artilharia3, #artilharia5, #artilharia7, #artilharia01, #artilharia02, #artilharia03, #artilharia04, #artilharia05, #artilharia06, #artilharia07, #artilharia01, #artilharia02, #artilharia03, #artilharia04, #artilharia05, #artilharia06, #artilharia07, #estatistica1, #estatistica3, #estatistica5, #estatistica7, #estatistica01, #estatistica03, #estatistica05, #estatistica07 {
      color: #B61B1B;
      margin: 0 50% 0 50%;
}

#artilharia2, #artilharia4, #artilharia6, #artilharia02, #artilharia04, #artilharia06, #estatistica2, #estatistica4, #estatistica6, #estatistica02, #estatistica04, #estatistica06 {
      color: white;
      margin: 0 50% 0 50%;
}

#estatistica1, #estatistica2, #estatistica3, #estatistica4, #estatistica5, #estatistica6, #estatistica7 {
      width: 300px;
}

#artilharia1, #artilharia01, #estatistica1, #estatistica01 {
      top: 265px;
}

#artilharia2, #artilharia02, #estatistica2, #estatistica02 {
      top: 309px;
}

#artilharia3, #artilharia03, #estatistica3, #estatistica03 {
      top: 351px;
}

#artilharia4, #artilharia04, #estatistica4, #estatistica04 {
      top: 396px;
}

#artilharia5, #artilharia05, #estatistica5, #estatistica05 {
      top: 440px;
}

#artilharia6, #artilharia06, #estatistica6,  #estatistica06 {
      top: 483px;
}

#artilharia7, #artilharia07, #estatistica7, #estatistica07 {
      top: 524px;
}

#artilharia1, #artilharia2, #artilharia3, #artilharia4, #artilharia5, #artilharia6, #artilharia7 {
      left: -407px;
}

#artilharia01, #artilharia02, #artilharia03, #artilharia04, #artilharia05, #artilharia06, #artilharia07 {
      left: -257px;
}

#estatistica1, #estatistica2, #estatistica3, #estatistica4, #estatistica5, #estatistica6, #estatistica7 {
      left: 239px;
}

#estatistica01, #estatistica02, #estatistica03, #estatistica04, #estatistica05, #estatistica06, #estatistica07 {
      left: 397px;
}


@media (max-width: 980px) {
  #artilharia1, #artilharia2, #artilharia3, #artilharia4, #artilharia5, #artilharia6, #artilharia7 {
      left: -257px;
}
}

@media (max-width: 980px) {
  #artilharia01, #artilharia02, #artilharia03, #artilharia04, #artilharia05, #artilharia06, #artilharia07 {
      left: -107px;
}
}

@media (max-width: 980px) {
  #estatistica1, #estatistica2, #estatistica3, #estatistica4, #estatistica5, #estatistica6, #estatistica7 {
      left: 89px;
}
}

@media (max-width: 980px) {
  #estatistica01, #estatistica02, #estatistica03, #estatistica04, #estatistica05, #estatistica06, #estatistica07 {
      left: 247px;
}
}



.linha1, .linha2, .linha3, .linha4, .linha5, .linha6, .linha7, .linha8, .linha9, .linha10, .linha11, .linha12 {
      position: absolute;
      height: 45px;
      background: #B61B1B;
      list-style: none;
      border-radius: 17px 0 17px 0;
}

.linha1, .linha2, .linha3, .linha4, .linha5, .linha6 {
      margin: 0 50% 0 50%;
      left: -419px;
      width: 205px;
} 

.linha7, .linha8, .linha9, .linha10, .linha11, .linha12 {
      margin: 0 50% 0 50%;
      left: 223px;
      width: 215px;
}

@media (max-width: 980px) {
  .linha1, .linha2, .linha3, .linha4, .linha5, .linha6 {
      left: -269px;
}
}

@media (max-width: 980px) {
  .linha7, .linha8, .linha9, .linha10, .linha11, .linha12 {
      left: 73px;
}
}

.linha1, .linha7 {
      margin-top: 320px; 
}
.linha3, .linha9 {
      margin-top: 407px;
}

.linha5, .linha11 {
      margin-top: 494px;
}

h2 {
      position: relative;
      text-align: center;
      font-family: 'Droid Serif', serif;
      letter-spacing: .092em;
      font-size: 30px;
      color: white;
      margin-top: 20px;
}

#faixa, #faixa1 {
      position: absolute;
      margin: 0 50% 0 50%;
      top: 25px;
}


#faixa, #faixa3 {
      left: -542px;
}

#faixa3 {
      left: -542px;
}

#faixa1, #faixa4 {
      left: 148px;
} 

#faixa3, #faixa4 {
      position: relative;
      margin: 0 50% 0 50%;
}

#faixa3 {
      top: -65px;
}

#faixa4 {
      top: -95px;
}

#dias p, #dialivre p {
      position: absolute;
      letter-spacing: .092em;
      font-family: Verdana;
      font-size: 18px;
      margin: 14px 0 0 60px;
}

#dias p {
      color: white;
}

#dialivre p {;
      color: #8B0000;
}



#escudo1 {
      position: absolute;
      margin: 63px 0 0 35px;
}

#escudo2 {
      position: absolute;
      margin: 64px 0 0 168px;
}

#versos p, #gol p, #festival a, #vs p, #jogos p {
      position: absolute;
      font-family: Arial;
}

#versos p, #vs p {
     text-align: center;
     font-size: 15px;
     margin: 77px 0 0 98px;
     padding: 3px 14px 3px 14px;
     border-radius: 12px;
}

#versos p {
     color: #A61407;
     background-color:  white;
}

#vs p {
      color: white;
      background-color:  #8B0000;
}

#gol p, #vs p, #cancelado p {
      color: #FFFFFF;
}

#jogos p {
      color: #8B0000;
}

#gol p, #jogos p, #cancelado p {
      letter-spacing: .092em;
      font-size: 18px;
}

#gol p, #jogos p {
     margin: 147px 0 0 73px;
}

#jogos p {
     margin: 147px 0 0 48px;
}

#cancelado p {
      margin: 149px 0 0 55px;
       font-weight: 700;
       width: 10px;
}

#golde01, #golde02, #golde03, #golde04, #golde05, #golde06, #golde07, #golde08, #golde09 {
      position: absolute;
      letter-spacing: .092em;
      font-family: verdana;
      letter-spacing: .092em;
      font-size: 17px;
      color: white;

}

#golde01, #golde02, #golde03, #golde04, #golde05, #golde06, #golde07, #golde08, #golde09  {
      margin-left: 43px;
}

#golde01, #golde03, #golde04, #golde07 {
     margin-top: 195px;
}

#golde02, #golde05, #golde08 {
     margin-top: 235px;
}

#golde06, #golde09 {
     margin-top: 275px;
}

#chuva {
      position: absolute;
      margin: 65px 0 0 85px;
}

.março, .abril, .maio, .junho, .julho, .agosto, .setembro, .outubro, .novemnro, .dezembro {
      margin-top: 213px;
}

@media (max-width: 980px) {
  .março, .abril, .maio, .junho, .julho, .agosto, .setembro, .outubro, .novemnro, .dezembro {
      margin-top: 228px;
}
}

.supermarço, .superabril, .supermaio, .superjunho, .superjulho, .superagosto, .supersetembro, .superoutubro, .supernovembro, .superdezembro {
    position: absolute;
    margin: 0 50% 0 50%;
    width: 120px; 
    height: 40px;
    border-radius: 40px;
}

@media (max-width: 980px) {
  .supermarço, .superabril, .supermaio, .superjunho, .superjulho, .superagosto, .supersetembro, .superoutubro, .supernovembro, .superdezembro {
    zoom: 90%;
}
}

.proximos p {
      text-align: center;
      font-size: 14px;
      font-family: 'Fjalla One', sans-serif;
      letter-spacing: .272em;
      margin-top: 11px;
}

.proximos p {
      color: #8B0000;
}

.supermarço {
     left: -530px; 
}

.superabril {
      left: -394px;
}

.supermaio {
      left: -260px;
}

.superjunho, .supernovembro {
      left: -124px;
}

.superjulho, .superdezembro {
     left: 10px;
}

.superagosto {
      left: 146px;
}

.supersetembro {
      left: 283px;
}

.superoutubro {
      left: 415px;
}



@media (max-width: 980px) {
  .supermarço, .superagosto {
     left: -325px; 
}
}

@media (max-width: 980px) {
  .superabril, .supersetembro {
      left: -189px;
}
}

@media (max-width: 980px) {
  .supermaio, .superoutubro {
      left: -55px;
}
}

@media (max-width: 980px) {
  .superjunho, .supernovembro {
      left: 80px;
}
}

@media (max-width: 980px) {
  .superjulho, .superdezembro {
     left: 215px;
}
}


.supermarço, .superabril, .supermaio, .superjunho, .superjulho, .superagosto, .supersetembro, .superoutubro {
     top: 600px;
}

.supernovembro, .superdezembro {
     top: 660px;   
}

@media (max-width: 980px) {
  .supermarço, .superabril, .supermaio, .superjunho, .superjulho {
     top: 678px;   
}
}

@media (max-width: 980px) {
  .superagosto, .supersetembro, .superoutubro, .supernovembro, .superdezembro {
     top: 738px;   
}
}