@charset "UTF-8";

h1 {
    position: absolute;
    font-size: 58px;
    color: #ED3A1E;
    margin: 0 50% 0 50%;
    top: 100px;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: .092em;
    font-weight: 500;
}

@media (max-width: 980px) {
  h1 {
      margin-top: 50px;
      zoom: 80%;
}
}

@media (max-width: 979px) {
  . h1 {
      top: 100px;
}
}

@media (max-width: 801px) {
   h1 {
      margin-top: 50px;
      zoom: 80%;
}
}

#sites {
    width: 940px;
    height: 40px;
    margin: -39px auto;
    background-color: #8B0000;
    margin-top: 510px;
    border-radius: 20px;
}

@media (max-width: 980px) {
   #sites {
    width: 465px;
    margin: -39px auto;
    margin-top: 510px;
}
}

.foto0, .foto, .foto1 {
      position: absolute; 
      margin: 0 50% 0 50%;
} 

.foto0 {
      top: 343px;
      left: -468px;
}

.foto { 
      top: 192px;
      left: -116px;
}

.foto1 {
      top: 370px;
      left: 350px;
}

@media (max-width: 980px) {
  .foto0 {
      top: 358px;
      left: -230px;
}
}

@media (max-width: 980px) {
  .foto {
      top: 207px;
      left: 30px;
}
}

@media (max-width: 980px) {
  .foto1 {
      opacity: 0%;
      left: -100px;
}
}

.s1, .s2, .s3, .s4, .s5, .s6, .s7, .s8, .s9, .s10, .s11, .s12, .s13, .s14, .s15, .s16, .s17, .s18, .s19, .s20, .s21, .s22, .s23, .s24, .s25, .s26, .s27, .s28, .s29, .s30, .s31, .s32, .s33, .s34, .s35, .s36, .s37, .s38, .s39, .s40, .s41, .s42, .s43, .s44 {
      position: absolute;
      width: 250px;
      height: 205px;
      border-radius: 25px;
      margin: 0 50% 0 50%;
      zoom: 90%;
      border: 1px solid white;
}

.s1:hover, .s2:hover, .s3:hover, .s4:hover, .s5:hover, .s6:hover, .s7:hover, .s8:hover, .s9:hover, .s10:hover, .s11:hover, .s12:hover, .s13:hover, .s14:hover, .s15:hover, .s16:hover, .s17:hover, .s18:hover, .s19:hover, .s20:hover, .s21:hover, .s22:hover, .s23:hover, .s24:hover, .s25:hover, .s26:hover, .s27:hover, .s28:hover, .s29:hover, .s30:hover, .s31:hover, .s32:hover, .s33:hover, .s34:hover, .s35:hover, .s36:hover, .s37:hover, .s38:hover, .s39:hover, .s40:hover, .s41:hover, .s42:hover, .s43:hover, .s44:hover {
      opacity: 85%;
      background-color: #f64422;
      border: 4px solid white;
}

#dias p, #dialivre p {
      position: absolute;
      letter-spacing: .092em;
      font-family: Verdana;
      font-size: 18px;
      margin: 14px 0 0 60px;
      color: white;
}

#escudo1 {
      position: absolute;
      margin: 63px 0 0 35px;
}

#escudo2 {
      position: absolute;
      margin: 64px 0 0 168px;
}

#versos p, #gol p, #festival a, #vs p, #jogos p {
      position: absolute;
      font-family: Arial;
}

#versos p, #vs p {
     text-align: center;
     font-size: 15px;
     margin: 77px 0 0 98px;
     padding: 3px 14px 3px 14px;
     border-radius: 12px;
}

#versos p {
     color: #A61407;
     background-color:  white;
}

#vs p {
      color: #8B0000;
      background-color:  white;
}

#gol p, #cancelado p {
      color: #FFFFFF;
}

#gol p, #cancelado p {
      letter-spacing: .092em;
      font-size: 18px;
}

#jogos p {
      letter-spacing: .092em;
      font-size: 22px;
      font-weight: 700;
      padding: 0 40px 0;
      text-align: center;
      left: -65px;
      color: white;
}

#gol p, #jogos p {
     margin: 147px 0 0 73px;
}

#cancelado p {
      margin: 149px 0 0 55px;
       font-weight: 700;
       width: 10px;
}

#golde01, #golde02, #golde03, #golde04, #golde05, #golde06, #golde07, #golde08, #golde09 {
      position: absolute;
      letter-spacing: .092em;
      font-family: verdana;
      letter-spacing: .092em;
      font-size: 17px;
      color: white;

}

#golde01, #golde02, #golde03, #golde04, #golde05, #golde06, #golde07, #golde08, #golde09  {
      margin-left: 43px;
}

#golde01, #golde03, #golde04, #golde07 {
     margin-top: 195px;
}

#golde02, #golde05, #golde08 {
     margin-top: 235px;
}

#golde06, #golde09 {
     margin-top: 275px;
}

#chuva {
      position: absolute;
      margin: 65px 0 0 85px;
}

.março, .abril, .maio, .junho, .julho, .agosto, .setembro, .outubro, .novemnro, .dezembro {
      margin-top: 213px;
}

@media (max-width: 980px) {
  .março, .abril, .maio, .junho, .julho, .agosto, .setembro, .outubro, .novemnro, .dezembro {
      margin-top: 228px;
}
}

.supermarço, .superabril, .supermaio, .superjunho, .superjulho, .superagosto, .supersetembro, .superoutubro, .supernovembro, .superdezembro {
    position: absolute;
    margin: 0 50% 0 50%;
    width: 120px; 
    height: 40px;
    border-radius: 40px;
}

@media (max-width: 980px) {
  .supermarço, .superabril, .supermaio, .superjunho, .superjulho, .superagosto, .supersetembro, .superoutubro, .supernovembro, .superdezembro {
    zoom: 90%;
}
}

.proximos p {
      text-align: center;
      font-size: 14px;
      font-family: 'Fjalla One', sans-serif;
      letter-spacing: .272em;
      margin-top: 11px;
}

.proximos p {
      color: #8B0000;
}

.supermarço {
     left: -530px; 
}

.superabril {
      left: -394px;
}

.supermaio {
      left: -260px;
}

.superjunho, .supernovembro {
      left: -124px;
}

.superjulho, .superdezembro {
     left: 10px;
}

.superagosto {
      left: 146px;
}

.supersetembro {
      left: 283px;
}

.superoutubro {
      left: 415px;
}



@media (max-width: 980px) {
  .supermarço, .superagosto {
     left: -325px; 
}
}

@media (max-width: 980px) {
  .superabril, .supersetembro {
      left: -189px;
}
}

@media (max-width: 980px) {
  .supermaio, .superoutubro {
      left: -55px;
}
}

@media (max-width: 980px) {
  .superjunho, .supernovembro {
      left: 80px;
}
}

@media (max-width: 980px) {
  .superjulho, .superdezembro {
     left: 215px;
}
}


.supermarço, .superabril, .supermaio, .superjunho, .superjulho, .superagosto, .supersetembro, .superoutubro {
     top: 600px;
}

.supernovembro, .superdezembro {
     top: 660px;   
}

@media (max-width: 980px) {
  .supermarço, .superabril, .supermaio, .superjunho, .superjulho {
     top: 678px;   
}
}

@media (max-width: 980px) {
  .superagosto, .supersetembro, .superoutubro, .supernovembro, .superdezembro {
     top: 738px;   
}
}