@charset "UTF-8";

.parte1 {
    font-size: 60px;
    top: 140px;
    left: 2.8em;
}

.parte2 {
    font-size: 30px;
    top: 168px;
    left: 15.2em;
}

@media (max-width: 1100px) {
  .parte1 {
    top: 141px;
    left: -2em;
    font-size: 60px;
}
}

@media (max-width: 1100px) {
  .parte2 {
    top: 168px;
    left: 5.7em;
    font-size: 30px;
}
}

@media (max-width: 980px) {
  .parte1 {
    font-size: 50px;
    top: 253px;
    left: -3.2em;
}
}

@media (max-width: 980px) {
  .parte2 {
    font-size: 25px;
    top: 277px;
    left: 3.2em;
}
}

@media (max-width: 979px) {
  .parte1 {
    top: 141px;
    left: -2em;
    font-size: 60px;
}
}

@media (max-width: 979px) {
  .parte2 {
    top: 168px;
    left: 5.7em;
    font-size: 30px;
}
}

#img img {
    left: 25px;
}

@media (max-width: 1100px) {
   #img img, #img1 img {
    margin: 0 50% 0 50%;
    left: -267px;
    top: 125px;
}
}

.caixa1, .caixa2, .caixa3, .caixa4 {
    top: 300px;
}

@media (max-width: 1100px) {
  .caixa1, .caixa2, .caixa3 {
    top: 400px;
}
}

@media (max-width: 980px) {
  .caixa1, .caixa2 {
    top: 450px;
}
}

@media (max-width: 980px) {
  .caixa3 {
    top: 927px;
}
}

@media (max-width: 979px) {
  .caixa1, .caixa2, .caixa3 {
    top: 400px;
}
}

@media (max-width: 801px) {
  .caixa1, .caixa2 {
    top: 450px;
}
}

@media (max-width: 801px) {
  .caixa3 {
    top: 926px;
}
}

@media (max-width: 1100px) {
  .caixa4 {
    top: 877px;
}
}

@media (max-width: 980px) {
  .caixa4 {
    top: 927px;
}
}

@media (max-width: 979px) {
  .caixa4 {
    top: 870px;
}
}

@media (max-width: 801px) {
  .caixa4 {
    top: 925px;
}
}

.caixa5, .caixa6 {
    top: 776px;
}

@media (max-width: 1100px) {
  .caixa5 {
    top: 877px;
}
}

@media (max-width: 980px) {
  .caixa5 {
    top: 1482px;
}
}

@media (max-width: 1100px) {
  .caixa6 {
    top: 950px;
}
}

@media (max-width: 980px) {
  .caixa6 {
    top: 1482px;
}
}

@media (max-width: 979px) {
  .caixa5 {
    top: 870px;
}
}

@media (max-width: 801px) {
  .caixa5 {
    top: 1503px;
}
}

@media (max-width: 979px) {
  .caixa6 {
    top: 950px;
}
}

@media (max-width: 801px) {
  .caixa6 {
    top: 1477px;
}
}

.caixa7 {
    top: 825px;
}

@media (max-width: 1100px) {
  .caixa7 {
    top: 1430px;
}
}

@media (max-width: 980px) {
  .caixa7 {
    top: 2063px;
}
}

@media (max-width: 979px) {
  .caixa7 {
    top: 1423px;
}
}

@media (max-width: 801px) {
  .caixa7 {
    top: 2104px;
}
}

.caixa8 {
    top: 825px;
}

@media (max-width: 1100px) {
  .caixa8 {
    top: 1455px;
}
}

@media (max-width: 980px) {
  .caixa8 {
    top: 2038px;
}
}

@media (max-width: 979px) {
  .caixa8 {
    top: 1448px;
}
}

@media (max-width: 801px) {
  .caixa8 {
    top: 2028px;
}
}

.caixa9 {
    top: 1351px;
}

@media (max-width: 1100px) {
  .caixa9 {
    top: 1503px;
}
}

@media (max-width: 980px) {
  .caixa9 {
    top: 2644px;
}
}

@media (max-width: 979px) {
  .caixa9 {
    top: 1505px;
}
}

@media (max-width: 801px) {
  .caixa9 {
    top: 2681px;
}
}

.caixa10 {
    top: 1302px;
}

@media (max-width: 1100px) {
  .caixa10 {
    top: 2007px;
}
}

@media (max-width: 980px) {
  .caixa10 {
    top: 2594px;
}
}

@media (max-width: 979px) {
  .caixa10 {
    top: 2000px;
}
}

@media (max-width: 801px) {
  .caixa10 {
    top: 2580px;
}
}

#roda {
    margin-top: 1987px;
}

@media (max-width: 1100px) {
  #roda {
    margin-top: 2635px;
}
}

@media (max-width: 980px) {
  #roda {
    margin-top: 5820px;
}
}

@media (max-width: 979px) {
  #roda {
    margin-top: 2635px;
}
}

@media (max-width: 801px) {
  #roda {
    margin-top: 3373px;
}
}