@charset "UTF-8";

.dezembro {
      position: absolute;
      width: 100%;
      background: #8B0000;
      height: 1870px;
      zoom: 100%;
}

@media (max-width: 980px) {
  .dezembro {
      height: 3370px;
}
}

h1 {
    left: -120px;
}

.t1, .t2, .t3, .t4, .t5, .t6, .t7, .t8, .t9, .t10, .t11, .t12, .t13, .t14, .t15, .t16, .t17, .t18, .t19, .t20, .t21, .t22 {
      position: absolute;
      width: 250px;
      height: 205px;
      background-color: white;
      border-radius: 25px 0 25px 0;
      margin: 0 50% 0 50%;
}

.t1, .t2, .t3, .t4 {
      top: 120px;
}

.t5 {
      top: 380px;
}

.t6, .t7, .t8, .t9 {
      top: 618px;
}

.t10, .t11, .t12, .t13 {
      top: 854px;
}

.t14 {
      top: 1117px;
}

.t15, .t16, .t17, .t18 {
      top: 1355px;
}

.t19, .t20, .t21, .t22 {
      top: 1590px;
}

.t5, .t14 {
      left: -118px;
}

.t1, .t6, .t10, .t15, .t19 {
     left: -550px;
}

.t2, .t7, .t11, .t16, .t20 {
      left: -260px;
}

.t3, .t8, .t12, .t17, .t21 {
      left: 23px;
}

.t4, .t9, .t13, .t18, .t22 {
      left: 308px;
}


@media (max-width: 980px) {
  .t1, .t2 {
      top: 120px;
}
}

@media (max-width: 980px) {
  .t3, .t4 {
      top: 370px;
}
}

@media (max-width: 980px) {
  .t5 {
      top: 700px;
}
}

@media (max-width: 980px) {
  .t6, .t7 {
     top: 950px;
}
}

@media (max-width: 980px) {
  .t8, .t9 {
     top: 1195px;
}
}

@media (max-width: 980px) {
  .t10, .t11 {
      top: 1440px;
}
}

@media (max-width: 980px) {
  .t12, .t13 {
      top: 1686px;
}
}

@media (max-width: 980px) {
  .t14 {
      top: 2030px;
}
}


@media (max-width: 980px) {
  .t15, .t16 {
      top: 2285px;
}
}

@media (max-width: 980px) {
  .t17, .t18 {
      top: 2535px;
}
}

@media (max-width: 980px) {
  .t19, .t20 {
      top: 2785px;
}
}

@media (max-width: 980px) {
  .t21, .t22 {
      top: 3035px;
}
}

@media (max-width: 980px) {
  .t1, .t3, .t6, .t8, .t10, .t12, .t15, .t17, .t19, .t21 {
      left: -270px;
}
}

@media (max-width: 980px) {
  .t2, .t4, .t7, .t9, .t11, .t13, .t16, .t18, .t20, .t22 {
      left:30px;
}
}

@media (max-width: 980px) {
  .t5, .t14 {
      left: -125px;
}
}


.supermarço, .superabril, .supermaio, .superjunho, .superjulho, .superagosto, .supersetembro, .superoutubro, .supernovembro {
    background-color: white;
}

.superdezembro {
   background-color: #dcdcdc;
}

#roda {
  position: absolute;
  margin-top: 2070px;
}

@media (max-width: 980px) {
  #roda {
  margin-top: 14259px;
}
}