@charset "UTF-8";

.dezembro {
      position: absolute;
      width: 100%;
      background: #8B0000;
      height: 1870px;
      zoom: 100%;
}

@media (max-width: 980px) {
  .dezembro {
      height: 3370px;
}
}

h1 {
    left: -120px;
}

.s1, .s2, .s3, .s4 {
      top: 120px;
}

.s5 {
      top: 380px;
}

.s6, .s7, .s8, .s9 {
      top: 618px;
}

.s10, .s11, .s12, .s13 {
      top: 854px;
}

.s14 {
      top: 1117px;
}

.s15, .s16, .s17, .s18 {
      top: 1355px;
}

.s19, .s20, .s21, .s22 {
      top: 1590px;
}

.s5, .s14 {
      left: -118px;
}

.s1, .s6, .s10, .s15, .s19 {
     left: -550px;
}

.s2, .s7, .s11, .s16, .s20 {
      left: -260px;
}

.s3, .s8, .s12, .s17, .s21 {
      left: 23px;
}

.s4, .s9, .s13, .s18, .s22 {
      left: 308px;
}


@media (max-width: 980px) {
  .s1, .s2 {
      top: 120px;
}
}

@media (max-width: 980px) {
  .s3, .s4 {
      top: 370px;
}
}

@media (max-width: 980px) {
  .s5 {
      top: 700px;
}
}

@media (max-width: 980px) {
  .s6, .s7 {
     top: 950px;
}
}

@media (max-width: 980px) {
  .s8, .s9 {
     top: 1195px;
}
}

@media (max-width: 980px) {
  .s10, .s11 {
      top: 1440px;
}
}

@media (max-width: 980px) {
  .s12, .s13 {
      top: 1686px;
}
}

@media (max-width: 980px) {
  .s14 {
      top: 2030px;
}
}


@media (max-width: 980px) {
  .s15, .s16 {
      top: 2285px;
}
}

@media (max-width: 980px) {
  .s17, .s18 {
      top: 2535px;
}
}

@media (max-width: 980px) {
  .s19, .s20 {
      top: 2785px;
}
}

@media (max-width: 980px) {
  .s21, .s22 {
      top: 3035px;
}
}

@media (max-width: 980px) {
  .s1, .s3, .s6, .s8, .s10, .s12, .s15, .s17, .s19, .s21 {
      left: -270px;
}
}

@media (max-width: 980px) {
  .s2, .s4, .s7, .s9, .s11, .s13, .s16, .s18, .s20, .s22 {
      left:30px;
}
}

@media (max-width: 980px) {
  .s5, .s14 {
      left: -125px;
}
}


.supermarço, .superabril, .supermaio, .superjunho, .superjulho, .superagosto, .supersetembro, .superoutubro, .supernovembro {
    background-color: white;
}

.superdezembro {
   background-color: #dcdcdc;
}

#roda {
  position: absolute;
  margin-top: 2070px;
}

@media (max-width: 980px) {
  #roda {
  margin-top: 3598px;
}
}