@charset "UTF-8";

#site, .contato {
	position: relative;
	width: 1100px;
}

h1 {
    position: absolute;
    font-size: 58px;
    margin: 0 50% 0 50%;
    color: #ED3A1E;
    margin: 105px 0 0 655px;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: .092em;
    font-weight: 700;
}

#site img {
    position: absolute;
    margin: 200px 200px;
}	 
	  
#site p {
     position: absolute;
     margin-top: 230px;
     padding: 0 270px 0 550px;
	 font-size: 18px;
     line-height: 1.70;
     letter-spacing: .142em;
     font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
     text-indent: 27px;
}

#usuario {
    position: absolute;
    margin: 840px 0 0 360px;
    width: 370px;
}

#fs-frm {
    margin: 100px 0 0 300px;
}

#fs-frm-inputs {
    border: none;
}

#botao {
    margin-top: 30px;
}

h2 {
    position: relative;
    font-family: Verdana;
    letter-spacing: .092em;
    font-size: 15px;
    color: white;
    margin-top: 25px;
}

input{
    padding: 7px 23px 7px 23px;
    margin: 0 0 0 25px;
    font-size: 15px;
    font-family: 'Source Code Pro', monospace;
    border-radius: 30px;
    letter-spacing: .062em;
    border: none;
}

input:hover, select:hover, textarea:hover {
    background-color: #dcdcdc;
}

#caixa1 {
    position: absolute;
    width: 100%;
    height: 800px;
    background-color: #8B0000;
    top: 750px;
}

#roda {
  margin-top: 1540px;
}

@media (max-width: 980px) {
  #roda {
  margin-top: 5498px;
}
}		