@charset "UTF-8";

h1 {
    position: absolute;
    font-size: 58px;
    color: #ED3A1E;
    margin: 0 50% 0 50%;
    top: 80px;
    left: -100px;
    width: 305px;
    font-family: 'Fjalla One', sans-serif;
}

.foto {
      position: absolute; 
      top: 181px;
      left: -147px;
      margin: 0 50% 0 50%;
}

#artilharia, #estatistica {
      position: absolute;
      letter-spacing: .092em;
      font-family: helvetica;
      font-size: 22px;
      color: #B61B1B;
}

#artilharia  {
      margin: 0 50% 0 50%;
      top: 193px;
      left: -400px;
}

#estatistica {
      margin: 0 50% 0 50%;
      top: 193px;
      left: 230px;
}

 #artilharia1, #artilharia3, #artilharia5, #artilharia7, #artilharia01, #artilharia02, #artilharia03, #artilharia04, #artilharia05, #artilharia06, #artilharia07, #artilharia01, #artilharia02, #artilharia03, #artilharia04, #artilharia05, #artilharia06, #artilharia07, #estatistica1, #estatistica3, #estatistica5, #estatistica7, #estatistica01, #estatistica03, #estatistica05, #estatistica07, #artilharia2, #artilharia4, #artilharia6, #artilharia02, #artilharia04, #artilharia06, #estatistica2, #estatistica4, #estatistica6, #estatistica02, #estatistica04, #estatistica06 {
      position: absolute;
      letter-spacing: .092em;
      font-family: helvetica;
      font-size: 22px;
      list-style: none;
 }

 #artilharia1, #artilharia3, #artilharia5, #artilharia7, #artilharia01, #artilharia02, #artilharia03, #artilharia04, #artilharia05, #artilharia06, #artilharia07, #artilharia01, #artilharia02, #artilharia03, #artilharia04, #artilharia05, #artilharia06, #artilharia07, #estatistica1, #estatistica3, #estatistica5, #estatistica7, #estatistica01, #estatistica03, #estatistica05, #estatistica07 {
      color: #B61B1B;
}

#artilharia2, #artilharia4, #artilharia6, #artilharia02, #artilharia04, #artilharia06, #estatistica2, #estatistica4, #estatistica6, #estatistica02, #estatistica04, #estatistica06 {
      color: white;
}

#estatistica1, #estatistica2, #estatistica3, #estatistica4, #estatistica5, #estatistica6, #estatistica7 {
      width: 300px;
}

#artilharia1, #artilharia01, #estatistica1, #estatistica01 {
      top: 265px;
}

#artilharia2, #artilharia02, #estatistica2, #estatistica02 {
      top: 309px;
}

#artilharia3, #artilharia03, #estatistica3, #estatistica03 {
      top: 351px;
}

#artilharia4, #artilharia04, #estatistica4, #estatistica04 {
      top: 396px;
}

#artilharia5, #artilharia05, #estatistica5, #estatistica05 {
      top: 440px;
}

#artilharia6, #artilharia06, #estatistica6,  #estatistica06 {
      top: 483px;
}

#artilharia7, #artilharia07, #estatistica7, #estatistica07 {
      top: 524px;
}

#artilharia1, #artilharia2, #artilharia3, #artilharia4, #artilharia5, #artilharia6, #artilharia7 {
      margin: 0 50% 0 50%;
      left: -417px;
}

#artilharia01, #artilharia02, #artilharia03, #artilharia04, #artilharia05, #artilharia06, #artilharia07 {
      margin: 0 50% 0 50%;
      left: -267px;
}

#estatistica1, #estatistica2, #estatistica3, #estatistica4, #estatistica5, #estatistica6, #estatistica7 {
      margin: 0 50% 0 50%;
      left: 229px;
}

#estatistica01, #estatistica02, #estatistica03, #estatistica04, #estatistica05, #estatistica06, #estatistica07 {
      margin: 0 50% 0 50%;
      left: 387px;
}

.linha1, .linha2, .linha3, .linha4, .linha5, .linha6, .linha7, .linha8, .linha9, .linha10, .linha11, .linha12 {
      position: absolute;
      height: 45px;
      background: #B61B1B;
      list-style: none;
      border-radius: 17px 0 17px 0;
}

.linha1, .linha2, .linha3, .linha4, .linha5, .linha6 {
      margin: 0 50% 0 50%;
      left: -429px;
      width: 205px;
} 

.linha7, .linha8, .linha9, .linha10, .linha11, .linha12 {
      margin: 0 50% 0 50%;
      left: 213px;
      width: 215px;
}

.linha1, .linha7 {
      margin-top: 320px; 
}
.linha3, .linha9 {
      margin-top: 407px;
}

.linha5, .linha11 {
      margin-top: 494px;
}





.março, .abril, .maio, .julho, .outubro, .setembro, .junho, .agosto, .novembro, .desembro {
      position: absolute;
      width: 100%;
      background: #8B0000;
}

.março{
      height: 680px;
}

.abril  {
      height: 370px;
}

.maio, .julho, .setembro, .outubro {
      height: 279px;
}

.junho, .agosto, .novembro {
      height: 503px;
}

.desembro {
      height: 299px;
}

.março {
      margin-top: 608px;
} 

.abril {
      margin-top: 1288px;
}  

.maio {
      margin-top: 1658px;
}

.junho {
      margin-top: 1937px;
}

.julho {
      margin-top: 2440px;
}

.agosto {
      margin-top: 2719px;
}

.setembro {
      margin-top: 3219px;
}
.outubro {
      margin-top: 3497px;
}

.novembro {
      margin-top: 3775px;
}

.desembro {
      margin-top: 4278px;
}

h6 {
      position: relative;
      text-align: center;
      font-family: 'Droid Serif', serif;
      letter-spacing: .092em;
      margin-top: 50px;
      font-size: 30px;
      color: white;
}

#faixa {
      position: absolute;
      margin: -98px 0 0 206px;
}

#faixa1 {
      position: absolute;
      margin: -98px 0 0 850px;
}

#faixa2 {
      position: absolute;
      margin: -98px 0 0 870px;
}

#vs p {
      position: absolute;
      font-family: Verdana;
      font-size: 30px;
      color: #FFFFFF;
      margin: 75px 0 0 113px;
}  

#horas p {
      position: relative;
      text-align: center;
      font-family: Verdana;
      letter-spacing: .092em;
      font-size: 18px;
      color: #FFFFFF;
      margin-top: 149px;
}

#vertical1, #vertical2, #vertical3, #vertical4, #vertical5, #vertical6, #vertical7, #vertical8, #vertical9, #vertical10, #vertical11, #vertical12, #vertical13 {
      position: absolute;
      margin-top: -5px;
      width: 2px;
      background: white;
}

#vertical1, #vertical2, #vertical3, #vertical4, #vertical5, #vertical6 {
     height: 180px;
}

#vertical7, #vertical8, #vertical9, #vertical10, #vertical11, #vertical12, #vertical13 {
    height: 110px;
}

#vertical3 {
     top: 410px;
}

#vertical12 {
     margin: 0 50% 0 50%;
     top: 315px;
}

#vertical4, #vertical7 {
      margin: 0 50% 0 50%;
      left: -300px;
}

#vertical1, #vertical10 {
      margin: 0 50% 0 50%;
      left: -157px;
}

#vertical3, #vertical5, #vertical8, #vertical12, #vertical13 {
      margin: 0 50% 0 50%;
      left: -15px;
}

#vertical2, #vertical11 {
      margin: 0 50% 0 50%;
      left: 132px;
}

#vertical6, #vertical9 {
      margin: 0 50% 0 50%;
      left: 273px;
}

.março1, .março2, .março3, .março4, .março5, .abril1, .abril2, .abril3, .abril4, .maio1, .maio2, .maio3, .maio4, .junho1, .junho2, .junho3, .junho4,.junho5, .julho1, .julho2, .julho3, .julho4, .agosto1, .agosto2, .agosto3, .agosto4, .agosto5, .setembro1, .setembro2, .setembro3, .setembro4, .outubro1, .outubro2, .outubro3, .outubro4, .novembro1, .novembro2, .novembro3, .novembro4, .novembro5, .desembro1, .desembro2 {
      position: absolute;
      width: 250px;
      height: 245px;
}

.março1, .março2, .março3, .abril1, .abril2, .abril3, .abril4, .maio1, .maio2, .maio3, .maio4, .junho1, .junho2, .junho3, .julho1, .julho2, .julho3, .julho4, .agosto1, .agosto2, .agosto3, .setembro1, .setembro2, .setembro3, .setembro4, .outubro1, .outubro2, .outubro3, .outubro4, .novembro1, .novembro2, .novembro3, .desembro1, .desembro2 {
      margin: 0 50% 0 50%;
      top: 70px;
}

.março4, .março5 {
      margin: 0 50% 0 50%;
      top: 370px;
}

.junho4,.junho5, .agosto4, .agosto5, .novembro4, .novembro5 {
     margin: 0 50% 0 50%;
      top: 270px;
}

.abril1, .maio1, .julho1, .setembro1, .outubro1 {
     margin: 0 50% 0 50%;
     left: -579px;
}

.março1, .junho1, .agosto1, .novembro1 {
     margin: 0 50% 0 50%;
     left: -430px;
}

.março4,.abril2, .maio2, .junho4, .julho2, .agosto4, .setembro2, .outubro2, .novembro4, .desembro1 {
      margin: 0 50% 0 50%;
      left: -282px;
}

.março2, .junho2, .agosto2, .novembro2 {
      margin: 0 50% 0 50%;
      left: -138px;
}

.abril3, .maio3, .julho3, .setembro3, .outubro3 {
      margin: 0 50% 0 50%;
      left: 5px;
}

.março5, .junho5, .agosto5, .novembro5, .desembro2 {
      margin: 0 50% 0 50%;
}

.março3, .junho3, .agosto3, .novembro3 {
      margin: 0 50% 0 50%;
      left: 152px;
}

.abril4, .maio4, .julho4, .setembro4, .outubro4 {
      margin: 0 50% 0 50%;
      left: 297px;
}

#dias p {
      position: absolute;
      letter-spacing: .092em;
      font-family: Verdana;
      font-size: 18px;
      color: #FFFFFF;
      margin: 14px 0 0 75px;
}

#escudo1 {
      position: absolute;
      margin: 63px 0 0 35px;
}

#escudo2 {
      position: absolute;
      margin: 64px 0 0 168px;
}

#versos p, #gol p, #festival a {
      position: absolute;
      font-family: Arial;
      color: #FFFFFF;
}

#versos p {
      font-size: 15px;
      margin: 77px 0 0 98px;
      padding: 6px 12px 6px 12px;
     background:  white;
     border-radius: 14px 2px 14px 2px;
     opacity: 0.95;
     color: #A61407;
}

#gol p, #festival a {
      letter-spacing: .092em;
      font-size: 18px;
}

#gol p {
     margin: 147px 0 0 73px;
}

#festival a {
      margin: 129px 0 0 55px;
}

#golde01, #golde02, #golde03, #golde04, #golde05, #golde06, #golde07, #golde08, #golde09 {
      position: absolute;
      font-family: helvetica;
      letter-spacing: .092em;
      font-size: 18px;
      color: #FFFFFF;
}

#golde01, #golde02, #golde03, #golde04, #golde05, #golde06, #golde07, #golde08, #golde09  {
      margin-left: 43px;
}

#golde01, #golde03, #golde04, #golde07 {
     margin-top: 165px;
}

#golde02, #golde05, #golde08 {
     margin-top: 195px;
}

#golde06, #golde09 {
     margin-top: 225px;
}

#roda {
  margin-top: 4577px;
  background-color: #C90000;
}