@charset "UTF-8";

.julho {
      position: absolute;
      width: 100%;
      background: #8B0000;
      height: 3395px;
}

h1 {
    left: -70px;
}

.l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9, .l10, .l11,.l12,.l13,.l14, .l15, .l16, .l17, .l18, .l19, .l20, .l21, .l22, .l23, .l24, .l25, .l26, .l27, .l28, .l29, .l30, .l31, .l32, .l33, .l34, .l35, .l36, .l37 {
      position: absolute;
      width: 250px;
      height: 205px;
      background-color: white;
      border-radius: 25px 0 25px 0;
      margin: 0 50% 0 50%;
}

.l1 {
      top: 120px;
}

.l2, .l3, .l4, .l5 {
      top: 355px;
}

.l6, .l7, .l8, .l9 {
      top: 588px;
}

.l10, .s10, .s11, .s12, .s13 {
      top: 874px;
}

.l11, .l12, .l13, .l14 {
      top: 1107px;
}

.l15, .l16, .l17, .l18 {
      top: 1340px;
}

.l19 {
      top: 1625px;
}

.l20, .l21, .l22, .l23 {
      top: 1860px;
}

.l24, .l25, .l26, .l27 {
      top: 2095px;
}

.l28 {
      top: 2380px;
}

.l29, .l30, .l31, .l32 {
      top: 2615px;
}

.l33, .l34, .l35, .l36 {
      top: 2850px;
}

.l37 {
      top: 3125px;
}

.l1, .l10, .l19, .l28, .l37, .superdezembro {
      left: -118px;
}

.l2, .l6, .l11, .l15, .l20, .l24, .l29, .l33, .supermarço, .superagosto {
     left: -550px;
}

.l3, .l7, .l12, .l16, .l21, .l25, .l30, .l34, .superabril, .supersetembro {
      left: -260px;
}

.l4, .l8, .l13, .l17, .l22, .l26, .l31, .l35, .supermaio, .superoutubro {
      left: 23px;
}

.l5, .l9, .l14, .l18, .l23, .l27, .l32, .l36, .superjunho, .supernovembro {
      left: 308px;
}

.supermarço, .superabril, .supermaio, .superjunho, .superagosto, .supersetembro, .superoutubro, .supernovembro, .superdezembro {
    background-color: white;
}

.superjulho {
   background-color: #dcdcdc;
}

#roda {
  margin-top: 3609px;
}