@charset "UTF-8";

.junho {
      position: absolute;
      width: 100%;
      background: #8B0000;
      height: 3680px;
}

@media (max-width: 980px) {
  .junho {
      height: 5950px;
}
}

h1 {
    left: -70px;
}


.s1, .s2, .s3, .s4 {
      top: 120px;
}

.s5, .s6, .s7, .s8 {
      top: 355px;
}

.s9 {
      top: 633px;
}

.s10, .s11, .s12, .s13 {
      top: 874px;
}

.s14, .s15, .s16, .s17 {
      top: 1107px;
}

.s18 {
      top: 1385px;
}

.s19, .s20, .s21, .s22 {
      top: 1625px;
}

.s23,.s24, .s25, .s26 {
      top: 1860px;
}

.s27 {
      top: 2140px;
}

.s28, .s29, .s30, .s31 {
      top: 2380px;
}

.s32, .s33, .s34, .s35 {
      top: 2615px;
}


.s36 {
      top: 2900px;
}

.s37, .s38, .s39, .s40 {
      top: 3135px;
}

.s41, .s42, .s43, .s44 {
      top: 3370px;
}

.s9, .s18, .s27, .s36 {
      left: -118px;
}

.s1, .s5, .s10, .s14, .s19, .s23, .s28, .s32, .s37, .s41 {
     left: -550px;
}

.s2, .s6, .s11, .s15, .s20, .s24, .s29, .s33, .s38, .s42 {
      left: -260px;
}

.s3, .s7, .s12, .s16, .s21, .s25, .s30, .s34, .s39, .s43 {
      left: 23px;
}

.s4, .s8, .s13, .s17, .s22, .s26, .s31, .s35, .s40, .s44 {
      left: 308px;
}

@media (max-width: 980px) {
  .s1, .s2 {
      top: 60px;
}
}

@media (max-width: 980px) {
  .s3, .s4 {
      top: 315px;
}
}

@media (max-width: 980px) {
  .s5, .s6{
      top: 580px;
}
}

@media (max-width: 980px) {
  .s7, .s8 {
     top: 845px;
}
}

@media (max-width: 980px) {
  .s9 {
     top: 1195px;
}
}

@media (max-width: 980px) {
  .s10, .s11 {
      top: 1455px;
}
}

@media (max-width: 980px) {
  .s12, .s13 {
      top: 1710px;
}
}

@media (max-width: 980px) {
  .s14, .s15 {
      top: 1965px;
}
}

@media (max-width: 980px) {
  .s16, .s17 {
      top: 2220px;
}
}

@media (max-width: 980px) {
  .s18 {
      top: 2565px;
}
}

@media (max-width: 980px) {
  .s19, .s20 {
      top: 2820px;
}
}

@media (max-width: 980px) {
  .s21, .s22 {
      top: 3075px;
}
}

@media (max-width: 980px) {
  .s23, .s24 {
      top: 3335px;
}
}

@media (max-width: 980px) {
  .s25, .s26 {
      top: 3595px;
}
}

@media (max-width: 980px) {
  .s27 {
      top: 3935px;
}
}

@media (max-width: 980px) {
  .s28, .s29 {
      top: 4190px;
}
}

@media (max-width: 980px) {
  .s30, .s31 {
      top: 4445px;
}
}

@media (max-width: 980px) {
  .s32, .s33 {
      top: 4705px;
}
}

@media (max-width: 980px) {
  .s34, .s35 {
      top: 4960px;
}
}

@media (max-width: 980px) {
  .s36 {
      top: 5300px;
}
}

@media (max-width: 980px) {
  .s37, .s38 {
      top: 5560px;
}
}

@media (max-width: 980px) {
  .s39, .s40 {
      top: 5815px;
}
}

@media (max-width: 980px) {
  .s41, .s42 {
      top: 6070px;
}
}

@media (max-width: 980px) {
  .s43, .s44 {
      top: 6325px;
}
}

@media (max-width: 980px) {
  .s1, .s3, .s5, .s7, .s10, .s12, .s14, .s16, .s19, .s21, .s23, .s25, .s28, .s30, .s32, .s34, .s37, .s39, .s41, .s43 {
      left: -270px;
}
}

@media (max-width: 980px) {
  .s2, .s4, .s6, .s8, .s11, .s13, .s15, .s17, .s20, .s22, .s24, .s26, .s29, .s31, .s33, .s35, .s38, .s40, .s42, .s44 {
      left:30px;
}
}

@media (max-width: 980px) {
  .s9, .s18, .s27, .s36 {
      left: -125px;
}
}

.supermarço, .superabril, .supermaio, .superjulho, .superagosto, .supersetembro, .superoutubro, .supernovembro, .superdezembro {
    background-color: white;
}

.superjunho {
   background-color: #dcdcdc;
}

#roda {
  margin-top: 3895px;
}

@media (max-width: 980px) {
  #roda {
  margin-top: 6177px;
}
}