@charset "UTF-8";

.maio {
      position: absolute;
      width: 100%;
      background: #8B0000;
      height: 3345px;
} 

@media (max-width: 980px) {
 .maio {
      zoom: 110%;
      height: 6600px;
}
}

@media (max-width: 979px) {
  .maio {
      zoom: 97%;
}
}

h1 {
    left: -50px;
}

.s1, .r1, .t1 {
      top: 60px;
}

.s2, .s3, .s4, .s5 {
      top: 295px;
}

.s6, .s7, .s8, .s9 {
      top: 528px;
}

.s10, .r10, .t10 {
      top: 864px;
}

.s11, .s12, .s13, .s14 {
      top: 1107px;
}

.s15, .s16, .s17, .s18 {
      top: 1350px;
}

.s19, .r19, .t19 {
      top: 1685px;
}

.s20, .s21, .s22, .s23 {
      top: 1930px;
}

.s24, .s25, .s26, .s27 {
      top: 2175px;
}

.s28, .r28, .t28 {
      top: 2520px;
}

.s29, .s30, .s31, .s32 {
      top: 2765px;
}

.s33, .s34, .s35, .s36 {
      top: 3010px;
}

.s37,.r37, .t37 {
      top: 3365px;
}


.r1, .r10, .r19, .r28, .r37 {
      left: -408px;
}

.s1, .s10, .s19, .s28, .s37 {
      left: -118px;
}

.t1, .t10, .t19, .t28, .t37 {
     left: 172px;
}

.s2, .s6, .s11, .s15, .s20, .s24, .s29, .s33 {
     left: -550px;
}

.s3, .s7, .s12, .s16, .s21, .s25, .s30, .s34 {
      left: -260px;
}

.s4, .s8, .s13, .s17, .s22, .s26, .s31, .s35 {
      left: 23px;
}

.s5, .s9, .s14, .s18, .s23, .s27, .s32, .s36 {
      left: 308px;
}

@media (max-width: 980px) {
  .r1 {
      top: 60px;
}
}

@media (max-width: 980px) {
  .s1, .t1 {
      top: 310px;
}
}

@media (max-width: 980px) {
  .s2, .s3 {
      top: 560px;
}
}

@media (max-width: 980px) {
  .s4, .s5 {
      top: 810px;
}
}

@media (max-width: 980px) {
  .s6, .s7 {
     top: 1060px;
}
}

@media (max-width: 980px) {
  .s8, .s9 {
     top: 1310px;
}
}

@media (max-width: 980px) {
  .r10 {
      top: 1740px;
}
}

@media (max-width: 980px) {
  .s10, .t10 {
      top: 1995px;
}
}

@media (max-width: 980px) {
  .s11, .s12 {
      top: 2250px;
}
}

@media (max-width: 980px) {
  .s13, .s14 {
      top: 2505px;
}
}

@media (max-width: 980px) {
  .s15, .s16 {
      top: 2760px;
}
}

@media (max-width: 980px) {
  .s17, .s18 {
      top: 3015px;
}
}

@media (max-width: 980px) {
  .r19 {
      top: 3430px;
}
}

@media (max-width: 980px) {
  .s19, .t19 {
      top: 3685px;
}
}

@media (max-width: 980px) {
  .s20, .s21 {
      top: 3935px;
}
}

@media (max-width: 980px) {
  .s22, .s23 {
      top: 4185px;
}
}

@media (max-width: 980px) {
  .s24, .s25 {
      top: 4435px;
}
}

@media (max-width: 980px) {
  .s26, .s27 {
      top: 4685px;
}
}

@media (max-width: 980px) {
  .r28 {
      top: 5085px;
}
}

@media (max-width: 980px) {
  .s28, .t28 {
      top: 5340px;
}
}

@media (max-width: 980px) {
  .s29, .s30 {
      top: 5590px;
}
}

@media (max-width: 980px) {
  .s31, .s32 {
      top: 5840px;
}
}

@media (max-width: 980px) {
  .s33, .s34 {
      top: 6095px;
}
}

@media (max-width: 980px) {
  .s35, .s36 {
      top: 6350px;
}
}

@media (max-width: 980px) {
  .r37 {
      top: 6755px;
}
}

@media (max-width: 980px) {
  .s37, .t37 {
      top: 7010px;
}
}


@media (max-width: 980px) {
  .s1, .s2, .s4, .s6, .s8, .s10, .s11, .s13, .s15, .s17, .s19, .s20, .s22, .s24, .s26, .s28, .s29, .s31, .s33, .s35, .s37 {
      left: -265px;
}
}

@media (max-width: 980px) {
  .s3, .s5, .s7, .s9, .s12, .s14, .s16, .s18, .s21, .s23, .s25, .s27, .s30, .s32, .s34, .s36, .t1, .t10, .t19, .t28, .t37 {
      left: 25px;
}
}

@media (max-width: 980px) {
.r1, .r10, .r19, .r28, .r37 {
      left: -125px;
}
}

.supermarço, .superabril, .superjunho, .superjulho, .superagosto,  .supersetembro, .superoutubro, .supernovembro, .superdezembro {
    background-color: white;
}

#roda {
  margin-top: 3559px;
}

@media (max-width: 980px) {
  #roda {
  margin-top: 7510px;
}
}

@media (max-width: 979px) {
  #roda {
  margin-top: 5662px;
}
}