@charset "UTF-8";

.março {
      position: absolute;
      width: 100%;
      background: #8B0000;
      height: 3880px;
}

h1 {
    left: -75px;
}

.março1, .março2, .março3, .março4, .março5, .março6, .março7, .março8, .março9, .março10, .março11, .março12, .março13, .março14, .março15, .março16, .março17, .março18 {
      position: absolute;
      margin: 0 50% 0 50%;
      width: 250px;
      height: 205px;
}


.março19, .março20, .março21, .março22, .março23, .março24, .março25, .março26, .março27, .março28, .março29, .março30, .março31, .março32, .março33, .março34, .março35, .março36 {
      position: absolute;
      margin: 0 50% 0 50%;
      width: 250px;
      height: 205px;
      background-color: white;
      border-radius: 25px 0 25px 0;
      opacity: 90%;
}

.março1 {
      top: 100px;
}

.março2, .março3, .março4, .março5 {
      top: 440px;
}

.março6, .março7, .março8, .março9 {
      top: 840px;
}

.março10 {
      top: 1240px;
}

.março11, .março12, .março13, .março14 {
      top: 1600px;
}

.março15, .março16, .março17, .março18 {
      margin: 0 50% 0 50%;
      top: 1885px;
}

.março19 {
      top: 2320px;
}

.março20, .março21, .março22, .março23 {
      top: 2560px;
}

.março24, .março25, .março26, .março27 {
      top: 2795px;
}

.março28 {
      top: 3105px;
}

.março29, .março30, .março31, .março32 {
      top: 3340px;
}

.março33, .março34, .março35, .março36 {
      top: 3575px;
}

.março1, .março10, .março19, .março28, .superdezembro {
      left: -118px;
}

.março2, .março6, .março11, .março15, .março20, .março24, .março29, .março33, .superabril, .superagosto {
     left: -550px;
}

.março3, .março7, .março12, .março16, .março21, .março25, .março30, .março34, .supermaio, .supersetembro {
      left: -260px;
}

.março4, .março8, .março13, .março17, .março22, .março26, .março31, .março35, .superjunho, .superoutubro {
      left: 23px;
}

.março5, .março9, .março14, .março18, .março23, .março27, .março32, .março36, .superjulho, .supernovembro {
      margin: 0 50% 0 50%;
      left: 308px;
}

.superabril, .supermaio, .superjunho, .superjulho, .superagosto, .supersetembro, .superoutubro,  .supernovembro, .superdezembro {
    background-color: white;
}

.supermarço {
   background-color: #dcdcdc;
}

#roda {
  margin-top: 4680px;
}