@charset "UTF-8";

.março {
      position: absolute;
      width: 100%;
      background: #8B0000;
      height: 3800px;
}

@media (max-width: 980px) {
  .março {
      height: 6460px;
}
}

@media (max-width: 979px) {
  .março {
      zoom: 80%;
}
}

h1 {
    left: -75px;
}

.março1, .março2, .março3, .março4, .março5, .março6, .março7, .março8, .março9, .março10, .março11, .março12, .março13, .março14, .março15, .março16, .março17, .março18 {
      position: absolute;
      margin: 0 50% 0 50%;
      width: 250px;
      height: 205px;
}

.março1 {
      top: 50px;
}

.março2, .março3, .março4, .março5 {
      top: 390px;
}

.março6, .março7, .março8, .março9 {
      top: 790px;
}

.março10 {
      top: 1240px;
}

.março11, .março12, .março13, .março14 {
      top: 1600px;
}

.março15, .março16, .março17, .março18 {
      margin: 0 50% 0 50%;
      top: 1885px;
}

.s19 {
      top: 2620px;
}

.s20, .s21, .s22, .s23 {
      top: 2860px;
}

.s24, .s25, .s26, .s27 {
      top: 3095px;
}

.s28 {
      top: 3405px;
}

.s29, .s30, .s31, .s32 {
      top: 3640px;
}

.s33, .s34, .s35, .s36 {
      top: 3875px;
}

.março1, .março10, .s19, .s28 {
      left: -118px;
}

.março2, .março6, .março11, .março15, .s20, .s24, .s29, .s33 {
     left: -550px;
}

.março3, .março7, .março12, .março16, .s21, .s25, .s30, .s34 {
      left: -260px;
}

.março4, .março8, .março13, .março17, .s22, .s26, .s31, .s35 {
      left: 23px;
}

.março5, .março9, .março14, .março18, .s23, .s27, .s32, .s36 {
      margin: 0 50% 0 50%;
      left: 308px;
}

@media (max-width: 980px) {
  .março1 {
      top: 60px;
}
}

@media (max-width: 980px) {
  .março2, .março3 {
      top: 430px;
}
}

@media (max-width: 980px) {
  .março4, .março5 {
      top: 830px;
}
}

@media (max-width: 980px) {
  .março6, .março7 {
     top: 1250px;
}
}

@media (max-width: 980px) {
  .março8, .março9 {
     top: 1655px;
}
}

@media (max-width: 980px) {
  .março10 {
      top: 2180px;
}
}

@media (max-width: 980px) {
  .março11, .março12 {
      top: 2556px;
}
}

@media (max-width: 980px) {
  .março13, .março14 {
      top: 2830px;
}
}

@media (max-width: 980px) {
  .março15, .março16 {
      top: 3105px;
}
}

@media (max-width: 980px) {
  .março17, .março18 {
      top: 3505px;
}
}

@media (max-width: 980px) {
  .s19 {
      top: 4445px;
}
}

@media (max-width: 980px) {
  .s20, .s21 {
      top: 4700px;
}
}

@media (max-width: 980px) {
  .s22, .s23 {
      top: 4955px;
}
}

@media (max-width: 980px) {
  .s24, .s25 {
      top: 5215px;
}
}

@media (max-width: 980px) {
  .s26, .s27 {
      top: 5475px;
}
}

@media (max-width: 980px) {
  .s28 {
      top: 5835px;
}
}

@media (max-width: 980px) {
  .s29, .s30 {
      top: 6100px;
}
}

@media (max-width: 980px) {
  .s31, .s32 {
      top: 6355px;
}
}

@media (max-width: 980px) {
  .s33, .s34 {
      top: 6610px;
}
}

@media (max-width: 980px) {
  .s35, .s36 {
      top: 6865px;
}
}


@media (max-width: 980px) {
  .março2, .março4, .março6, .março8, .março11, .março13, .março15, .março17, .s20, .s22, .s24, .s26, .s29, .s31, .s33, .s35 {
      left: -270px;
}
}

@media (max-width: 980px) {
  .março3, .março5, .março7, .março9, .março12, .março14, .março16, .março18, .s21, .s23, .s25, .s27, .s30, .s32, .s34, .s36 {
      left:30px;
}
}

@media (max-width: 980px) {
  .março1, .março10, .s19, .s28 {
      left: -125px;
}
}

.superabril, .supermaio, .superjunho, .superjulho, .superagosto, .supersetembro, .superoutubro,  .supernovembro, .superdezembro {
    background-color: white;
}

.supermarço {
   background-color: #dcdcdc;
}

#roda {
  margin-top: 4000px;
}

@media (max-width: 980px) {
  #roda {
  margin-top: 6680px;
}
}

@media (max-width: 979px) {
#roda {
      margin-top: 6689px;
}
}