@charset "UTF-8";

.novemnro {
      position: absolute;
      width: 100%;
      background: #8B0000;
      height: 3145px;
}

@media (max-width: 980px) {
 .novemnro {
       height: 5609px;
}
}

@media (max-width: 979px) {
  .novemnro {
      zoom: 80%;
}
}

h1 {
    left: -130px;
}

.s1, .s2, .s3, .s4 {
      top: 60px;
}

.s5, .s6, .s7, .s8 {
      top: 295px;
}

.s9, .r9, .t9 {
      top: 577px;
}

.s10, .s11, .s12, .s13 {
      top: 814px;
}

.s14, .s15, .s16, .s17 {
      top: 1047px;
}

.s18, .r18, .t18 {
      top: 1325px;
}

.s19, .s20, .s21, .s22 {
      top: 1565px;
}

.s23,.s24, .s25, .s26 {
      top: 1800px;
}

.s27, .r27, .t27 {
      top: 2100px;
}

.s28, .s29, .s30, .s31 {
      top: 2340px;
}

.s32, .s33, .s34, .s35 {
      top: 2575px;
}

.s36, .r36, .t36 {
      top: 2860px;
}

.s37, .s38, .s39, .s40 {
      top: 3095px;
}

.r9, .r18, .r27, .r36 {
      left: -408px;
}

.s9, .s18, .s27, .s36 {
      left: -118px;
}

.t9, .t18, .t27, .t36 {
      left: 172px;
}

.s1, .s5, .s10, .s14, .s19, .s23, .s28, .s32, .s37 {
     left: -550px;
}

.s2, .s6, .s11, .s15, .s20, .s24, .s29, .s33, .s38 {
      left: -260px;
}

.s3, .s7, .s12, .s16, .s21, .s25, .s30, .s34, .s39 {
      left: 23px;
}

.s4, .s8, .s13, .s17, .s22, .s26, .s31, .s35, .s40 {
      left: 308px;
}

@media (max-width: 980px) {
  .s1, .s2 {
      top: 60px;
}
}

@media (max-width: 980px) {
  .s3, .s4 {
      top: 315px;
}
}

@media (max-width: 980px) {
  .s5, .s6{
      top: 570px;
}
}

@media (max-width: 980px) {
  .s7, .s8 {
     top: 830px;
}
}

@media (max-width: 980px) {
  .s9 {
     top: 1185px;
}
}

@media (max-width: 980px) {
  .s10, .s11 {
      top: 1445px;
}
}

@media (max-width: 980px) {
  .s12, .s13 {
      top: 1702px;
}
}

@media (max-width: 980px) {
  .s14, .s15 {
      top: 1960px;
}
}

@media (max-width: 980px) {
  .s16, .s17 {
      top: 2220px;
}
}

@media (max-width: 980px) {
  .s18 {
      top: 2585px;
}
}

@media (max-width: 980px) {
  .s19, .s20 {
      top: 2845px;
}
}

@media (max-width: 980px) {
  .s21, .s22 {
      top: 3100px;
}
}

@media (max-width: 980px) {
  .s23, .s24 {
      top: 3355px;
}
}

@media (max-width: 980px) {
  .s25, .s26 {
      top: 3615px;
}
}

@media (max-width: 980px) {
  .s27 {
      top: 3980px;
}
}

@media (max-width: 980px) {
  .s28, .s29 {
      top: 4240px;
}
}

@media (max-width: 980px) {
  .s30, .s31 {
      top: 4495px;
}
}

@media (max-width: 980px) {
  .s32, .s33 {
      top: 4750px;
}
}

@media (max-width: 980px) {
  .s34, .s35 {
      top: 5005px;
}
}

@media (max-width: 980px) {
  .s36 {
      top: 5375px;
}
}

@media (max-width: 980px) {
  .s37, .s38 {
      top: 5635px;
}
}

@media (max-width: 980px) {
  .s39, .s40 {
      top: 5890px;
}
}

@media (max-width: 980px) {
  .s1, .s3, .s5, .s7, .s10, .s12, .s14, .s16, .s19, .s21, .s23, .s25, .s28, .s30, .s32, .s34, .s37, .s39 {
      left: -270px;
}
}

@media (max-width: 980px) {
  .s2, .s4, .s6, .s8, .s11, .s13, .s15, .s17, .s20, .s22, .s24, .s26, .s29, .s31, .s33, .s35, .s38, .s40 {
      left:30px;
}
}

@media (max-width: 980px) {
  .s9, .s18, .s27, .s36 {
      left: -125px;
}
}

.supermarço, .superabril, .supermaio, .superjunho, .superjulho, .superagosto, .supersetembro, .superoutubro, .superdezembro {
    background-color: white;
}

.supernovembro {
   background-color: #dcdcdc;
}

#roda {
  margin-top: 3359px;
}

@media (max-width: 980px) {
  #roda {
    margin-top: 5837px;
}
}

@media (max-width: 979px) {
  #roda {
    margin-top: 5838px;
}
}