@charset "UTF-8";

.outubro {
      position: absolute;
      width: 100%;
      background: #8B0000;
      height: 3420px;
}

@media (max-width: 980px) {
  .outubro {
      height: 5270px;
}
}

h1 {
    left: -110px;
}


.s1 {
      top: 120px;
}

.s2, .s3, .s4, .s5 {
      top: 355px;
}

.s6, .s7, .s8, .s9 {
      top: 588px;
}

.s10 {
      top: 874px;
}

.s11, .s12, .s13, .s14 {
      top: 1107px;
}

.s15, .s16, .s17, .s18 {
      top: 1340px;
}

.s19 {
      top: 1625px;
}

.s20, .s21, .s22, .s23 {
      top: 1860px;
}

.s24, .s25, .s26, .s27 {
      top: 2095px;
}

.s28 {
      top: 2380px;
}

.s29, .s30, .s31, .s32 {
      top: 2615px;
}

.s33, .s34, .s35, .s36 {
      top: 2850px;
}

.s37 {
      top: 3125px;
}

.s1, .s10, .s19, .s28, .s37 {
      left: -118px;
}

.s2, .s6, .s11, .s15, .s20, .s24, .s29, .s33 {
     left: -550px;
}

.s3, .s7, .s12, .s16, .s21, .s25, .s30, .s34 {
      left: -260px;
}

.s4, .s8, .s13, .s17, .s22, .s26, .s31, .s35 {
      left: 23px;
}

.s5, .s9, .s14, .s18, .s23, .s27, .s32, .s36 {
      left: 308px;
}

@media (max-width: 980px) {
  .s1 {
      top: 60px;
}
}

@media (max-width: 980px) {
  .s2, .s3 {
      top: 315px;
}
}

@media (max-width: 980px) {
  .s4, .s5 {
      top: 570px;
}
}

@media (max-width: 980px) {
  .s6, .s7 {
     top: 830px;
}
}

@media (max-width: 980px) {
  .s8, .s9 {
     top: 1090px;
}
}

@media (max-width: 980px) {
  .s10 {
      top: 1440px;
}
}

@media (max-width: 980px) {
  .s11, .s12 {
      top: 1696px;
}
}

@media (max-width: 980px) {
  .s13, .s14 {
      top: 1950px;
}
}

@media (max-width: 980px) {
  .s15, .s16 {
      top: 2205px;
}
}

@media (max-width: 980px) {
  .s17, .s18 {
      top: 2460px;
}
}

@media (max-width: 980px) {
  .s19 {
      top: 2820px;
}
}

@media (max-width: 980px) {
  .s20, .s21 {
      top: 3075px;
}
}

@media (max-width: 980px) {
  .s22, .s23 {
      top: 3330px;
}
}

@media (max-width: 980px) {
  .s24, .s25 {
      top: 3585px;
}
}

@media (max-width: 980px) {
  .s26, .s27 {
      top: 3840px;
}
}

@media (max-width: 980px) {
  .s28 {
      top: 4205px;
}
}

@media (max-width: 980px) {
  .s29, .s30 {
      top: 4460px;
}
}

@media (max-width: 980px) {
  .s31, .s32 {
      top: 4715px;
}
}

@media (max-width: 980px) {
  .s33, .s34 {
      top: 4970px;
}
}

@media (max-width: 980px) {
  .s35, .s36 {
      top: 5225px;
}
}

@media (max-width: 980px) {
  .s37 {
      top: 5485px;
}
}


@media (max-width: 980px) {
  .s2, .s4, .s6, .s8, .s11, .s13, .s15, .s17, .s20, .s22, .s24, .s26, .s29, .s31, .s33, .s35 {
      left: -270px;
}
}

@media (max-width: 980px) {
  .s3, .s5, .s7, .s9, .s12, .s14, .s16, .s18, .s21, .s23, .s25, .s27, .s30, .s32, .s34, .s36 {
      left:30px;
}
}

@media (max-width: 980px) {
  .s1, .s10, .s19, .s28, .s37 {
      left: -125px;
}
}

.supermarço, .superabril, .supermaio, .superjunho, .superjulho, .superagosto, .supersetembro, .supernovembro, .superdezembro {
    background-color: white;
}

.superoutubro {
   background-color: #dcdcdc;
}

#roda {
  margin-top: 3635px;
}

@media (max-width: 980px) {
  #roda {
  margin-top: 5498px;
}
}