@charset "UTF-8";

.setembro {
      position: absolute;
      width: 100%;
      background: #8B0000;
      height: 3470px;
}

h1 {
    left: -120px;
}

.s1, .s2, .s3, .s4 {
      top: 120px;
}

.s5 {
      top: 380px;
}

.s6, .s7, .s8, .s9 {
      top: 618px;
}

.s10, .s11, .s12, .s13 {
      top: 854px;
}

.s14 {
      top: 1117px;
}

.s15, .s16, .s17, .s18 {
      top: 1355px;
}

.s19, .s20, .s21, .s22 {
      top: 1590px;
}

.s23 {
      top: 1860px;
}

.s24, .s25, .s26, .s27 {
      top: 2095px;
}

.s28, .s29, .s30, .s31 {
      top: 2330px;
}

.s32 {
      margin: 0 50% 0 50%;
      top: 2615px;
}

.s33, .s34, .s35, .s36 {
      top: 2850px;
}

.s37, .s38, .s39, .s40 {
      top: 3135px;
}

.s5, .s14, .s23, .s32 {
      left: -118px;
}

.s1, .s6, .s10, .s15, .s19, .s24, .s28, .s33, .s37 {
     left: -550px;
}

.s2, .s7, .s11, .s16, .s20, .s25, .s29, .s34, .s38 {
      left: -260px;
}

.s3, .s8, .s12, .s17, .s21, .s26, .s30, .s35, .s39 {
      left: 23px;
}

.s4, .s9, .s13, .s18, .s22, .s27, .s31, .s36, .s40 {
      left: 308px;
}

.supermarço, .superabril, .supermaio, .superjunho, .superjulho, .superagosto, .superoutubro, .supernovembro, .superdezembro {
    background-color: white;
}

.supersetembro {
   background-color: #dcdcdc;
}

#roda {
  margin-top: 3683px;
}