@charset "UTF-8";

.setembro {
      position: absolute;
      width: 100%;
      background: #8B0000;
      height: 3470px;
}

h1 {
    left: -120px;
}

.t1, .t2, .t3, .t4, .t5, .t6, .t7, .t8, .t9, .t10, .t11, .t12, .t13, .t14, .t15, .t16, .t17, .t18, .t19, .t20, .t21, .t22, .t23, .t24, .t25, .t26, .t27, .t28, .t29, .t30, .t31, .t32, .t33, .t34, .t35, .t36, .t37, .t38, .t39, .t40, .t41, .t42, .t43, .t44 {
      position: absolute;
       margin: 0 50% 0 50%;
      width: 250px;
      height: 205px;
      background-color: white;
      border-radius: 25px 0 25px 0;
}

.t1, .t2, .t3, .t4 {
      top: 120px;
}

.t5 {
      top: 380px;
}

.t6, .t7, .t8, .t9 {
      top: 618px;
}

.t10, .t11, .t12, .t13 {
      top: 854px;
}

.t14 {
      top: 1117px;
}

.t15, .t16, .t17, .t18 {
      top: 1355px;
}

.t19, .t20, .t21, .t22 {
      top: 1590px;
}

.t23 {
      top: 1860px;
}

.t24, .t25, .t26, .t27 {
      top: 2095px;
}

.t28, .t29, .t30, .t31 {
      top: 2330px;
}

.t32 {
      margin: 0 50% 0 50%;
      top: 2615px;
}

.t33, .t34, .t35, .t36 {
      top: 2850px;
}

.t37, .t38, .t39, .t40 {
      top: 3135px;
}

.t5, .t14, .t23, .t32, .superdezembro {
      left: -118px;
}

.t1, .t6, .t10, .t15, .t19, .t24, .t28, .t33, .t37, .supermarço, .superjulho {
     left: -550px;
}

.t2, .t7, .t11, .t16, .t20, .t25, .t29, .t34, .t38, .superabril, .superagosto {
      left: -260px;
}

.t3, .t8, .t12, .t17, .t21, .t26, .t30, .t35, .t39, .supermaio, .superoutubro {
      left: 23px;
}

.t4, .t9, .t13, .t18, .t22, .t27, .t31, .t36, .t40, .superjunho, .supernovembro {
      left: 308px;
}

.supermarço, .superabril, .supermaio, .superjunho, .superjulho, .superagosto, .superoutubro, .supernovembro, .superdezembro {
    background-color: white;
}

.supersetembro {
   background-color: #dcdcdc;
}

#roda {
  margin-top: 5309px;
}