@charset "UTF-8";

#site, #datas, #mapa, .contato {
	position: relative;
	width: 1100px;
}

h1 {
    position: absolute;
    font-size: 58px;
    color: #ED3A1E;
    margin: 0 50% 0 50%;
    top: 100px;
    left: -125px;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: .092em;
    font-weight: 500;
}


@media (max-width: 980px) {
  h1 {
      left: -125px;
}
}

#caixa4 {
     position: absolute;
     margin: 0 50% 0 50%;
     top: 245px;
     left: -480px;
     height: 900px;
     width: 960px;
     background-color: white;
     border-radius: 100px 0;
}

@media (max-width: 980px) {
 #caixa4 {
     height: 2585px;
     width: 600px;
     top: 250px;
     left: -300px;
     border-radius: 10px;
}
} 

@media (max-width: 979px) {
 #caixa4 {
     zoom: 70%;
     top: 350px;
}
} 
	  
#texto p {
     position: relative;
     padding: 60px 90px 0 90px;
	 font-size: 20px;
     line-height: 1.70;
     letter-spacing: .142em;
     font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
     text-indent: 27px;
}

@media (max-width: 980px) {
 #texto p {
     top: -70px;
     padding: 100px 60px 0 60px;
     font-size: 25px;
     line-height: 1.85;
}
} 

#texto a {
     color: #333; 
}

#treino1 img, #treino2 img, #treino3 img, #treino4 img {
    position: absolute;
    border-radius: 15px;
    box-shadow: 0 0 1px  black;
}
      
#treino1 img {
    margin: 45px 0 0 0;
}
     
#treino2 img {
    margin: 45px 0 0 505px;
}

#treino3 img {
    margin: 325px 0 0 0;
}
     
#treino4 img {
    margin: 325px 0 0 505px;
}

@media (max-width: 980px) {
#treino1 img, #treino2 img, #treino3 img, #treino4 img {
    width: 560px;
    height: 300px;
}
}

@media (max-width: 980px) {
#treino1 img {
    margin: -15px 0 0 20px;
}
}

@media (max-width: 980px) {
#treino2 img {
   margin: 340px 0 0 20px;
}
}

@media (max-width: 980px) {
#treino3 img {
    margin: 695px 0 0 20px;
}
}

@media (max-width: 980px) {
#treino4 img {
    margin: 1050px 0 0 20px;
}
}

#caixa5 {
     position: absolute;
     top: 1330px;
     height: 115px;
     width: 100%;
     background-color: white;
}

@media (max-width: 980px) {
#caixa5 {
     top: 3640px;
     zoom: 80%;
     height: 270px;
}
} 

@media (max-width: 979px) {
#caixa5 {
     top: 1610px;
}
} 

#caixa5 p {
    position: absolute;
    margin: 0 50% 0 50%;
    top: 45px;
    left: -450px;
    font-family: Verdana;
    letter-spacing: .092em;
    font-size: 25px;
    color: #333;
    text-indent: 27px;
}

@media (max-width: 980px) {
#caixa5 p {
    top: 35px;
    left: -100px;
}
} 

#foto5 img, #foto6 img, #foto7 img, #foto8 img {
    margin: 0 50% 0 50%;
    position: absolute; 
    top: 15px;
}

#foto5 img {
    left: -200px;
}

#foto6 img {
    left: 45px;
}

#foto7 img {
    left: 300px;
}

@media (max-width: 980px) {
#foto5 img, #foto6 img, #foto7 img, #foto8 img {
    top: 60px;
    zoom: 140%
}
}

@media (max-width: 980px) {
#foto5 img {
    left: -235px;
}
}

@media (max-width: 980px) {
#foto6 img {
    left: -57px;
}
}

@media (max-width: 980px) {
#foto7 img {
    left: 113px;
}
}

.data {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 1457px;
    background-color: #8B0000;
}

@media (max-width: 980px) {
.data {
    top: 3940px;
    zoom: 80%;
}
}

@media (max-width: 979px) {
.data {
    top: 2470px;
    zoom: 60%;
}
}

#treino5, #treino6, #treino7 {
    position: absolute;
    margin: 0 50% 0 50%;
    width: 426.3px;
    top: 210px;
}

#treino5 {
    left: -664px;
}

#treino6 {
    left: -359px;
}

#treino7 {
    left: -34px;
}

@media (max-width: 980px) {
#treino5, #treino6, #treino7 {
    margin: 0 50% 0 50%;
    height: 20px;
    top: 230px;
}
}

@media (max-width: 980px) {
#treino5 {
    left: -589px;
}
}

@media (max-width: 980px) {
#treino6 {
    left: -314px;
}
}

@media (max-width: 980px) {
#treino7 {
     left: -60px;
}
}
 
#treino5 p, #treino6 p, #treino7 p {
     position: absolute;
     line-height: 1.50;
     letter-spacing: .102em;
     margin: -160px 0 0 285px;
     font-family: Jazz LET, fantasy;
     font-weight: 500;
     font-size: 28px;
     color: white;
}

@media (max-width: 980px) {
#treino5 p, #treino6 p, #treino7 p {
     margin: -160px 0 0 270px;
     font-family: Verdana;
     font-weight: 700;
}
}

#treino50 p, #treino51 p, #treino52 p, #treino72 p {
     position: absolute;
     line-height: 1.50;
     letter-spacing: .092em;
     font-family: 'Fjalla One', sans-serif;
     font-size: 19px;
     font-weight: 300;
     opacity:0.85;
     color: white;
}

#treino50 p {
    margin: -80px 0 0 235px;
}

#treino51 p {
    margin: -50px 0 0 237px;
}

#treino52 p {
    margin: -20px 0 0 270px;
}

#treino72 p {
    margin: -20px 0 0 236px;
}

.bairro {
    position: absolute;
    margin: 0 50% 0 50%;
    top: 1850px;
    left: -480px;
    width: 960px;
    height: 1355px;
    background-color: white;
    border-radius: 20px;
}

@media (max-width: 980px) {
.bairro {
    margin: 0 50% 0 50%;
    top: 3470px;
    left: -300px;
    width: 600px;
    height: 2950px;
}
}

@media (max-width: 979px) {
.bairro {
    top: 2470px;
    zoom: 70%;
}
}

.bairro h1 {
    position: absolute;
    margin: -30px 0 0 384px;
}

@media (max-width: 980px) {
.bairro h1 {
    position: absolute;
    margin: -30px 0 0 215px;
}
}

#bairro1 p, #bairro2 p, #bairro3 p {
    position: absolute;
    font-size: 21px;
    line-height: 1.70;
    letter-spacing: .022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #333;
    text-indent: 27px;
}

@media (max-width: 980px) {
#bairro1 P, #bairro2 P, #bairro3 P {
     padding: 30px 10px 0 10px;
     font-size: 25px;
     line-height: 1.85;
}
}

#bairro1 P {
     margin: 200px 90px 0 90px;
}

#bairro2 P {
     margin: 380px 90px 0 560px;
}

#bairro3 P {
     margin: 760px 460px 0 90px;
}

@media (max-width: 980px) {
#bairro1 P {
     margin: 200px 50px 0 50px;
}
}

@media (max-width: 980px) {
#bairro2 P {
     margin: 1150px 50px 0 50px;
}
}

@media (max-width: 980px) {
#bairro3 P {
     margin: 2390px 50px 0 50px;
}
}

#bairroimg1 img, #bairroimg2 img {
     position: absolute;
     border-radius: 15px;
     box-shadow: 0 0 1px  black;
}

#bairroimg1 img {
     margin: 420px 0 0 110px;
}

#bairroimg2 img {
     margin: 930px 0 0 600px;
}

@media (max-width: 980px) {
#bairroimg1 img {
     margin: 710px 0 0 20px;
     width: 565px;
     height: 400px;
}
}

@media (max-width: 980px) {
#bairroimg2 img {
     margin: 1750px 0 0 115px;
     width: 370px;
     height: 600px;
}
}

#roda {
	position: absolute;
    margin-top: 3280px;
	background-color: white;
}	

@media (max-width: 980px) {
#roda {
      margin-top: 6480px;
}
}	

@media (max-width: 979px) {
#roda {
      margin-top: 4200px;
}
}

