@charset "UTF-8";

#site, #datas, #mapa, .contato {
	position: relative;
	width: 1100px;
}

h1 {
    position: absolute;
    font-size: 58px;
    color: #ED3A1E;
    margin: 0 50% 0 50%;
    top: 100px;
    left: -125px;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: .092em;
    font-weight: 500;
}


@media (max-width: 980px) {
  h1 {
      left: -125px;
}
}

#caixa4 {
     position: absolute;
     margin: 0 50% 0 50%;
     top: 265px;
     left: -430px;
     height: 800px;
     width: 1189.5px;
     background-color: white;
     border-radius: 20px 0 0 0;
}	

@media (max-width: 980px) {
 #caixa4 {
     height: 950px;
     width: 789px;
     zoom: 70%;
     top: 360px;
     left: -331px;
}
} 
	  
#texto p {
     position: relative;
     padding: 40px 270px 0 90px;
	 font-size: 21px;
     line-height: 1.70;
     letter-spacing: .022em;
     font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
     color: #333;
     text-indent: 27px;
}

@media (max-width: 980px) {
 #texto p {
     padding: 70px 80px 0 80px;
     font-size: 23px;
}
} 

#texto a {
     color: #333; 
}

#treino1 img, #treino2 img, #treino3 img, #treino4 img {
    position: absolute;
    border-radius: 15px;
    box-shadow: 0 0 1px  black;
}

@media (max-width: 980px) {
#treino1 img, #treino2 img, #treino3 img, #treino4 img {
    zoom: 80%;
}
}
      
#treino1 img {
    margin: 45px 0 0 76px;
}
     
#treino2 img {
    margin: 45px 0 0 569px;
}

#treino3 img {
    margin: 325px 0 0 76px;
}
     
#treino4 img {
    margin: 325px 0 0 569px;
}

@media (max-width: 980px) {
#treino1 img {
    margin: 45px 0 0 -56px;
}
}

@media (max-width: 980px) {
#treino2 img {
   margin: 45px 0 0 449px;
}
}

@media (max-width: 980px) {
#treino3 img {
    margin: 325px 0 0 -56px;
}
}

@media (max-width: 980px) {
#treino4 img {
    margin: 325px 0 0 449px;
}
}

#caixa5 {
     position: absolute;
     margin: 0 50% 0 50%;
     top: 1300px;
     left: -760px;
     height: 115px;
     width: 1090px;
     background-color: white;
     border-radius: 0 27px 0px 0;
     box-shadow: 0 0 1px 0 black;
}

@media (max-width: 980px) {
#caixa5 {
     top: 1340px;
     zoom: 80%;
     width: 630px;
     height: 215px;
     left: -400px;
     border-radius: 0 100px 100px 0px;
}
} 

#caixa5 p {
    position: absolute;
    margin: 45px 0 0 140px;
    position: relative;
    font-family: Verdana;
    letter-spacing: .092em;
    font-size: 25px;
    color: #333;
    text-indent: 27px;
}

@media (max-width: 980px) {
#caixa5 p {
    margin: 85px 0 0 40px;
}
} 

#foto5 img, #foto6 img, #foto7 img, #foto8 img {
    position: absolute; 
}

#foto5 img {
    margin: -62px 0 0 370px;
}

#foto6 img {
     margin: -63px 0 0 545px;
}

#foto7 img {
     margin: -58px 0 0 730px;
}

#foto8 img {
     margin: -62px 0 0 920px;
}

@media (max-width: 980px) {
#foto5 img {
    margin: -102px 0 0 270px;
}
}

@media (max-width: 980px) {
#foto6 img {
    margin: -102px 0 0 445px;
}
}

@media (max-width: 980px) {
#foto7 img {
    margin: -7px 0 0 270px;
}
}

@media (max-width: 980px) {
#foto8 img {
    margin: -7px 0 0 445px;
}
}

.datas {
    position: absolute;
    width: 1250px;
    height: 300px;
    margin: 0 50% 0 50%;
    top: 1490px;
    left: -760px;
    background-color: #8B0000;
    box-shadow: 0 0 3px  black;
    z-index: 2;
}

@media (max-width: 980px) {
.datas {
    top: 1900px;
    width: 850px;
    left: -458px;
    zoom: 70%;
}
}

#treino5 {
    margin: 230px 0 0 64px;
}

#treino6 {
    margin: 230px 0 0 399px;
}

#treino7 {
    margin: 230px 0 0 734px;
}

@media (max-width: 980px) {
#treino5 {
    margin: 230px 0 0 -164px;
}
}

@media (max-width: 980px) {
#treino6 {
     margin: 230px 0 0 99px;
}
}

@media (max-width: 980px) {
#treino7 {
     margin: 230px 0 0 374px;
}
}
 
#treino5 p, #treino6 p, #treino7 p {
     position: absolute;
     line-height: 1.50;
     letter-spacing: .102em;
     margin: -160px 0 0 285px;
     font-family: Jazz LET, fantasy;
     font-weight: 500;
     font-size: 28px;
     color: white;
}

@media (max-width: 980px) {
#treino5 p, #treino6 p, #treino7 p {
     margin: -160px 0 0 270px;
     font-family: Verdana;
     font-weight: 700;
}
}

#treino50 p, #treino51 p, #treino52 p, #treino72 p {
     position: absolute;
     line-height: 1.50;
     letter-spacing: .092em;
     font-family: 'Fjalla One', sans-serif;
     font-size: 19px;
     font-weight: 300;
     opacity:0.85;
     color: white;
}

#treino50 p {
    margin: -80px 0 0 235px;
}

#treino51 p {
    margin: -50px 0 0 237px;
}

#treino52 p {
    margin: -20px 0 0 270px;
}

#treino72 p {
    margin: -20px 0 0 236px;
}

.mapa {
    position: relative;
    margin: 0 50% 0 50%;
    top: 1680px;
    left: -591px;
    width: 1350.5px;
    height: 405px;
    background-color: white;
    box-shadow: 0 0 1px 0 black;
}

@media (max-width: 980px) {
.mapa {
    top: 1780px;
    left: -292px;
    width: 692.5px;
    height: 685px;
    zoom: 80%;
}
}

#mapa {
     margin: auto;
}
        
#mapa0 p, #mapa1 p, #mapa2 p, #mapa3 p, #mapa4 p, #mapa5 p, #mapa6 p {
     position: absolute;
     line-height: 1.50;
     letter-spacing: .092em;
}

#mapa0 p {
     margin: 125px 0 0 124px;
     font-family: Verdana;
     font-weight: 700;
     opacity:0.85;
     font-size: 27px;
     color: #A81606;
}

@media (max-width: 980px) {
#mapa0 p {
    width: 50px;
     margin: 125px 0 0 144px;
}
}

#mapa1 p, #mapa2 p, #mapa3 p, #mapa4 p, #mapa5 p, #mapa6 p {
     font-family: helvetica;
     font-size: 15px;
}

#mapa1 p, #mapa3 p, #mapa5 p {
    color: #ED3A1E;
}

#mapa2 p, #mapa4 p, #mapa6 p {
    color: black;
}

#mapa1 p {
    margin: 195px 0 0 124px;
}

#mapa2 p {
     margin: 230px 0 0 134px;
}
       
#mapa3 p {
     margin: 255px 0 0 124px;
}
       
#mapa4 p {
     margin: 290px 0 0 134px;
}
       
#mapa5 p {
     margin: 315px 0 0 124px;
}
       
#mapa6 p {
     margin: 340px 0 0 134px;
}

@media (max-width: 980px) {
#mapa1 p{
     margin: 195px 0 0 124px;
}
}

@media (max-width: 980px) {
#mapa2 p{
    margin: 230px 0 0 134px;
}
}


@media (max-width: 980px) {
#mapa3 p{
     margin: 255px 0 0 124px;
}
}


@media (max-width: 980px) {
#mapa4 p{
     margin: 290px 0 0 134px;
}
}


@media (max-width: 980px) {
#mapa5 p{
     margin: 315px 0 0 124px;
}
}

@media (max-width: 980px) {
#mapa6 p{
      margin: 340px 0 0 134px;
}
}
       
#map-canvas {
     position: absolute;
     padding: 220px 0 0 455px;
     margin: 150px 0 0 509px;
}

@media (max-width: 980px) {
#map-canvas {
     margin: 480px 0 0 169px;
     zoom: 90%;
}
}

.bairro {
    position: absolute;
    margin: 0 50% 0 50%;
    top: 2220px;
    left: -559px;
    width: 1150px;
    height: 1255px;
    background-color: white;
    box-shadow: 0 0 1px 0 black;
    border-radius: 20px;
}

@media (max-width: 980px) {
.bairro {
     margin: 440px 0 0 169px;
     width: 663px;
     height: 2080px;
     left: -100px;
     zoom: 80%;
}
}

.bairro h1 {
    position: absolute;
    margin: -30px 0 0 474px;
}

@media (max-width: 980px) {
.bairro h1 {
    position: absolute;
    margin: -30px 0 0 234px;
}
}

#bairro1 p, #bairro2 p, #bairro3 p {
    position: absolute;
    font-size: 21px;
    line-height: 1.70;
    letter-spacing: .022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #333;
    text-indent: 27px;
}

@media (max-width: 980px) {
#bairro1 P, #bairro2 P, #bairro3 P {
     font-size: 23px;
}
}

#bairro1 P {
     margin: 200px 110px 0 110px;
}

#bairro2 P {
     margin: 380px 110px 0 560px;
}

#bairro3 P {
     margin: 760px 460px 0 110px;
}

@media (max-width: 980px) {
#bairro1 P {
     margin: 200px 50px 0 50px;
}
}

@media (max-width: 980px) {
#bairro2 P {
     margin: 870px 50px 0 50px;
}
}

@media (max-width: 980px) {
#bairro3 P {
     margin: 1650px 50px 0 50px;
}
}

#bairroimg1 img, #bairroimg2 img {
     position: absolute;
     border-radius: 15px;
     box-shadow: 0 0 1px  black;
}

#bairroimg1 img {
     margin: 390px 0 0 110px;
}

@media (max-width: 980px) {
#bairroimg1 img {
     margin: 530px 0 0 130px;
}
}

#bairroimg2 img {
     margin: 760px 0 0 760px;
}

@media (max-width: 980px) {
#bairroimg2 img {
     margin: 1230px 0 0 200px;
}
}

#roda {
	position: absolute;
    margin-top: 3100px;
	background-color: white;
}	

@media (max-width: 980px) {
#roda {
      margin-top: 3250px;
}
}	