@charset "UTF-8";

h1 {
    position: absolute;
    font-size: 58px;
    color: #ED3A1E;
    margin: 0 50% 0 50%;
    top: 100px;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: .092em;
    font-weight: 500;
    left: -70px;
}

.borda1, .borda2, .borda3 {
  position: absolute;
  margin: 0 50% 0 50%;
  top: 255px;
  width: 360px;
  height: 280px;
  background-color: white;
  border-radius: 20px;
}

@media (max-width: 980px) {
  .borda1, .borda2, .borda3 {
  zoom: 160%;
}
}

.borda1 {
  left: -594px;
}

.borda2 {
  left: -170px;
}

.borda3 {
  left: 256px;

}

@media (max-width: 980px) {
  .borda1 {
   top: 170px;
   left: -178px;
}
}

@media (max-width: 980px) {
  .borda2 {
   top: 570px;
   left: -178px;
}
}

@media (max-width: 980px) {
  .borda3 {
   top: 970px;
   left: -178px;
}
}

.borda1 img, .borda2 img, .borda3 img {
  margin: 40px 0 0 10px;
  border-radius: 20px;
}

H2 {
   position: absolute;
    font-size: 35px;
    color: #8B0000;
    margin: 0 50% 0 50%;
    width: 120px;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: .092em;
    font-weight: 500;
}

.borda1 H2 {
   top: -20px;
   left: -150px;
}

.borda2 H2 {
   top: -20px;
   left: -150px;
}

.borda3 H2 {
   top: -20px;
   left: -150px;
}

#roda {
  margin-top: 620px;
}

@media (max-width: 980px) {
  #roda {
  margin-top: 2150px;
}
}