@charset "UTF-8";

h1 {
    position: absolute;
    font-size: 58px;
    color: #ED3A1E;
    margin: 0 50% 0 50%;
    top: 100px;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: .092em;
    font-weight: 500;
    left: -70px;
}

.borda1, .borda2, .borda3 {
  position: absolute;
  margin: 0 50% 0 50%;
  top: 350px;
  width: 350px;
  height: 50px;
  background-color: white;
}

.borda1 {
  left: -594px;;
}

.borda2 {
  left: -170px;
}

.borda3 {
  left: 256px;

}

.borda1 img {
  margin: -180px 0 0 50px;
}

.borda2 img {
  margin: -160px 0 0 30px;
}

.borda3 img {
  margin: -178px 0 0 200px;
}

H2 {
   position: absolute;
    font-size: 35px;
    color: #8B0000;
    margin: 0 50% 0 50%;
    width: 120px;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: .092em;
    font-weight: 500;
}

.borda1 H2 {
   top: -20px;
   left: 50px;
}

.borda2 H2 {
   top: -20px;
   left: -30px;
}

.borda3 H2 {
   top: -20px;
   left: -150px;
}

#roda {
  margin-top: 1009px;
}