@charset "UTF-8";

body {
    position: relative;
    margin: 0;
    background-color: #dcdcdc;
    padding: 0;
}

@media (max-width: 1100px) {
  body {
    zoom: 90%;
}
}

@media (max-width: 980px) {
  body {
    zoom: 150%;
}
}

@media (max-width: 979px) {
  body {
    zoom: 120%;
}
}

@media (max-width: 601px) {
  body {
    zoom: 100%;
}
}

#site {
    position: relative;
    width: 100%;
    margin: -39px auto;
}

#menu {
   position: relative;
   width: 100%;
   height: 50px;
   background-color: #8B0000;
}

@media (max-width: 980px) {
  #menu {
   zoom: 130%;
}
}
        
nav ul {
   position: absolute;
   left: -465px;
   width: 300px;
   margin: 0 50% 0 50%
}

@media (max-width: 980px) {
  nav ul {
   left: -475px;
} 
}

nav li {
    list-style: none;
    display: block;
    float: left;
    margin: 0 10px 0 0;
}

nav li a, nav li #Menu {
    position: relative;
    left: 313px;
    color: #FFFFFF; 
    display: block;
    letter-spacing: .092em;
    font-size: 18px;
    font-family: helvetica;
    text-decoration: none;
    padding: 15px 10px 10px 10px;
}

nav li img {
    margin: -5px 10px 0 0;
}

nav li a:hover {
    color: #dcdcdc;
}

nav li #Menu:hover  {
    color: #ADFF2F;
}

#img {
    position: relative;
    margin: 35px 0 0 745px;
} 


footer {
    position: relative;
    width: 100%;
    margin: auto;
    height: 455px;
    background-color: white;
}

@media (max-width: 980px) {
  footer {
   height: 425px;
}  
}

@media (max-width: 979px) {
  footer {
   zoom: 100%;
}  
}

@media (max-width: 801px) {
  footer {
   zoom: 80%;
   height: 455px;
}  
}

#img01 {
    position: absolute;
    margin: 0 50% 0 50%;
    top: 80px;
    left: -1.7em;
}

@media (max-width: 980px) {
  #img01 {
    position: absolute;
    margin: 0 50% 0 50%;
    top: 4.2em;
    left: -2.5em;
}
}

#img2, #img3 {
    position: absolute;
    margin: 0 50% 0 50%;
    top: 250px;
}

#img2 {
    left: -25px;
    
}

@media (max-width: 980px) {
  #img2 {
    margin: 0 50% 0 50%;
    top: 13.9em;
    left: -3.0em;
}
}

#img3 {
    left: 35px;
    
}

@media (max-width: 980px) {
  #img3 {
    margin: 0 50% 0 50%;
    top: 13.9em;
    left: 2.0em;
}
}

#textos, #texto4 p, #texto4 a{
    color: #8B0000;
}

#textos, #texto4 {
    position: absolute;
    margin: 0 50% 0 50%; 
    width: 458px;
    line-height: 1.50;
} 

#textos {
    font-size: 25px;
    top: 290px;
    left: -305px;
    width: 658px;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: .172em;
} 

@media (max-width: 980px) {
  #textos {
    margin: 0 50% 0 50%;
    font-size: 20px;
    width: 500px;
    top: 14.4em;
    left: -11em;
} 
}

#texto4 {
    font-size: 18px;
    top: 372px;
    left: -153px;
    font-family: arial;
    letter-spacing: .092em;
}

@media (max-width: 980px) {
  #texto4 {
    margin: 0 50% 0 50%;
    font-size: 17.5px;
    top: 20.5em;
    left: -9.5em;
    width: 330px;
} 
}