@charset "UTF-8";

body {
    position: relative;
    margin: 0;
    background-color: #dcdcdc;
    padding: 0;
}

#site {
    position: relative;
    width: 100%;
    margin: -39px auto;
}

#menu {
   position: relative;
   width: 100%;
   height: 50px;
   box-shadow: 0 0 3px  black;
   background-color: #8B0000;
}
        
nav ul {
   position: relative;
   left: -465px;
   width: 300px;
   margin: 0 50% 0 50%
}

@media (max-width: 980px) {
  nav ul {
   margin: 0 50% 0 50%;
   left: -460px;
   width: 300px;
} 
}

nav li {
    list-style: none;
    display: block;
    float: left;
    margin: 0 10px 0 0;
}

nav li a, nav li #Menu {
    position: relative;
    left: 313px;
    color: #FFFFFF; 
    display: block;
    letter-spacing: .092em;
    font-size: 18px;
    font-family: helvetica;
    text-decoration: none;
    padding: 15px 10px 10px 10px;
}

nav li img {
    margin: -5px 10px 0 0;
}

nav li a:hover {
    color: #dcdcdc;
}

nav li #Menu:hover  {
    color: #ADFF2F;
}

#img {
    position: relative;
    margin: 35px 0 0 745px;
}

footer {
    position: relative;
    width: 100%;
    margin: auto;
    height: 355px;
    background-color: #8B0000;
}

@media (max-width: 980px) {
  footer {
   zoom: 150%;
   height: 425px;
}  
}

@media (max-width: 979px) {
  footer {
   zoom: 100%;
}  
}

@media (max-width: 801px) {
  footer {
   zoom: 80%;
   height: 455px;
}  
}

#img01 {
    position: absolute;
    margin: 0 50% 0 50%;
    top: 30px;
    left: -2.5em;
}

@media (max-width: 980px) {
  #img01 {
    position: absolute;
    margin: 0 50% 0 50%;
    top: 4.2em;
    left: -2em;
}
}

#img2 p {
    position: absolute;
    color: white;
    font-family:  sans-serif;
    letter-spacing: .192em;
    font-weight: 500;
    font-size: 19px;
    margin: 0 50% 0 50%;
    text-decoration: underline;
    
}

#img2 p {
    margin: 0 50% 0 50%;
    top: 270px;
    left: -260px;
}

@media (max-width: 980px) {
  #img2 p {
    margin: 0 50% 0 50%;
    top: 16.9em;
    left: -3.0em;
}
}

#textos, #texto4 {
    position: absolute;
    padding: 0 70px 0 0;
    margin: 0 50% 0 50%; 
    width: 458px;
    font-family: arial;
    line-height: 1.50;
    letter-spacing: .092em;
    color: white;
} 

#textos {
    font-size: 25px;
    top: 150px;
    left: -240px;
    width: 558px;
} 

@media (max-width: 980px) {
  #textos {
    margin: 0 50% 0 50%;
    font-size: 24px;
    width: 490px;
    top: 8.9em;
    left: -10em;
    padding: 2px;
} 
}

#texto4 {
    font-size: 18px;
    top: 252px;
    left: -63px;
    text-decoration: underline;
}

@media (max-width: 980px) {
  #texto4 {
    margin: 0 50% 0 50%;
    font-size: 17.5px;
    top: 20.5em;
    left: -9.5em;
    padding: 2px;
} 
}

#texto4 a {
    text-decoration: none;
    color: white;
}